@import '../../styles/mixin.scss';

$action-button-width: 11.25rem;

.container {
  display: flex;
  width: 100%;

  .content {
    width: 176px;
    padding: 16px;
    background: var(--input-disabled-color);
    border-radius: 8px;
    margin-right: 16px;
    p {
      font-size: 14px;
      line-height: 20px;
      margin: 0 0 12px;
      color: var(--main-text-color);
    }
    button {
      font-size: 14px;
      line-height: 20px;
      border: none;
      background: none;
      padding: 0;
      color: var(--secondary-text-color);
      cursor: pointer;
      display: flex;
      align-items: center;
      svg {
        margin-right: 4px;
      }
    }
  }
}

.install {
  display: grid;
  grid-template:
    'note action' auto
    'release-note release-note'/
    1fr $action-button-width;
  color: var(--main-text-color);

  .title {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    margin: 0;
    color: var(--main-text-color);
  }

  .releaseNotesStyle {
    grid-area: release-note;
    width: 100%;
    box-sizing: border-box;
    overflow: scroll;
    height: 120px;
    margin: 16px auto 20px;
    padding: 12px 16px 16px 24px;
    border: 1px solid var(--table-head-border-color);
    border-radius: 8px;
    background: var(--table-head-background-color);
    color: var(--dialog-secondary-text-color);

    ul {
      list-style-type: disc;
      padding-left: 30px;

      li {
        margin: 5px 0;
      }
    }

    a {
      text-decoration: none;
      pointer-events: none;
    }
  }
}

.confirmDialog {
  min-width: 360px;
  .wrap {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      color: var(--main-text-color);
      margin: 24px 0 31px;
      font-weight: 500;
      font-size: 16px;
    }
  }
}

.processWrap {
  .title {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    margin: 0 0 32px;
    color: var(--main-text-color);
  }
  .note {
    font-size: 14px;
    line-height: 22px;
    margin: 22px 0 0;
    color: var(--main-text-color);
  }
  progress {
    width: 100%;
    height: 8px;
    background: var(--process-background-color);
    border-radius: 8px;
  }
  progress::-webkit-progress-bar {
    background-color: var(--process-background-color);
    border-radius: 8px;
  }
  progress::-webkit-progress-value {
    background: var(--primary-color);
    border-radius: 8px;
  }
}
