@font-face {
  font-family: 'SourceHanSansCN-Regular';
  src: url('../fonts/SourceHanSansCN-Regular.otf') format('truetype');
}

@font-face {
  font-family: 'SourceCodePro-Regular';
  src: url('../fonts/SourceCodePro-Regular.ttf') format('truetype');
}
