@import '../../styles/mixin.scss';
@value hoverShow from '../../widgets/CopyZone/copyZone.module.scss';

@mixin text-overflow {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
}

.container {
  background-color: var(--secondary-background-color);
  border-radius: 16px;

  padding: 16px;

  .amountAndBadge {
    display: flex;
    justify-content: space-between;
  }

  .compensationAndAPC {
    display: flex;
    align-items: center;
    margin-top: 8px;
  }

  .stageAndAction {
    display: flex;
    justify-content: space-between;
    margin-top: 4px;
  }

  .infoTags {
    display: flex;
    gap: 16px;
    margin-top: 12px;
  }

  .infoTag {
    display: flex;
    align-items: center;
    background: var(--table-head-background-color);
    border-radius: 4px;
    padding: 0 12px 0 8px;
    font-size: 14px;
    line-height: 40px;

    .pin {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: var(--primary-color);
    }

    .name {
      margin-left: 8px;
      color: #666;

      @media (prefers-color-scheme: dark) {
        color: #999;
      }
    }

    .value {
      margin-left: 16px;
      color: var(--main-text-color);
    }

    &.lockedPeriod {
      .pin {
        background: #f78c2a;
      }
    }
  }

  .collapse {
    grid-area: 4/1/5/2;
    align-self: flex-start;
    padding-left: 10px;

    button {
      appearance: none;
      width: 15px;
      height: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 0 0 10px;
      box-sizing: border-box;
      border: none;
      background: transparent;
    }

    .collapseIcon {
      display: block;
      width: 0;
      height: 0;
      border: 5px solid transparent;
      border-left-color: #000;
      transition: transform 0.3s ease-in-out;
      transform-origin: left center;
    }
  }

  .badge {
    position: relative;
    display: flex;
    align-items: center;
    color: var(--third-text-color);
    font-size: 14px;
    line-height: 20px;

    & > time {
      margin-left: 8px;
    }

    & > svg {
      margin-left: 10px;
    }

    &:hover {
      color: var(--primary-color);

      & > svg {
        path {
          fill: currentColor;
        }
      }

      .popover {
        display: block;
      }
    }

    .popover {
      position: absolute;
      z-index: 1;
      right: -8px;
      top: 100%;
      display: none;
      filter: drop-shadow(0px 2px 10px var(--main-shadow-color));

      &::before {
        $arrow-size: 10px;

        margin-left: calc(50% - #{$arrow-size});
        display: block;
        content: '';
        width: 0;
        height: 0;
        margin-top: -$arrow-size;
        border: $arrow-size solid transparent;
        border-bottom-color: var(--third-background-color);
      }

      .content {
        width: max-content;
        padding: 12px;
        border-radius: 8px;
        background: var(--third-background-color);

        .fields {
          display: grid;
          grid-template-columns: auto auto;
          gap: 20px 8px;
          margin-top: 6px;
          font-size: 14px;
          line-height: 20px;
          color: var(--main-text-color);
        }

        .txRecordBtn {
          width: 100%;
          height: 40px;
          margin-top: 14px;
          border: none;
          border-radius: 8px;
          background: var(--fourth-background-color);
          font-size: 14px;
        }
      }
    }
  }

  .amount {
    font-size: 16px;
    line-height: 22px;

    .hoverShow {
      left: -8px;
      top: -5px;
      padding: 5px 8px;
      border-radius: 8px;
    }
  }

  .compensation {
    color: var(--primary-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
  }

  .apc {
    font-size: 12px;
    line-height: 17px;
    margin-left: 8px;
  }

  .stage {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .tooltip {
      position: absolute;
      top: 0;
      left: 50%;
      z-index: 999;
      transform: translate(-50%, 30px);
      transform-origin: top center;
      transition: all 0.2s ease-in-out;
      opacity: 0;
      pointer-events: none;
    }

    div:first-child:hover + .tooltip {
      opacity: 1;
      transform: translate(-50%, 30px);
    }

    .message {
      color: var(--third-text-color);
      font-size: 14px;
      line-height: 20px;
    }
  }

  .action {
    button {
      width: 216px;
      line-height: 56px;
      padding: 0;
    }
  }
}
