$progress-green: #3cc68a;
$progress-yellow: #f7ae4d;
$progress-grey: #e3e3e3;
$progress-green-hover: #21b574;
$progress-yellow-hover: #fa8f00;
$progress-grey-hover: #888;

@mixin secondaryInfo {
  font-size: 0.625rem;
  color: #434343;
  letter-spacing: 0.5px;
  align-self: start
}

.container {
  display: grid;
  grid-template:
    'compensation deposit-amount epoch-btn action-btn'auto 'time apc blank info'auto / 1fr 1fr 24px 150px;
  grid-gap: 9px;
  align-items: center;
  justify-items: start;
  padding: 16px 0;
  box-sizing: border-box;
  border-bottom: 1px solid #b3b3b3;

  &:last-of-type {
    border-bottom: none;
  }

  .compensation {
    grid-area: compensation;
    color: var(--nervos-green);
    font-size: 0.875rem;
    letter-spacing: 0.7px;
  }

  .depositAmount {
    grid-area: deposit-amount;
    font-size: 0.875rem;
    letter-spacing: 0.7px;
  }

  .epochsDialogBtn {
    grid-area: epoch-btn;

    width: 24px;
    height: 24px;

    svg {
      pointer-events: none;
    }

    &[data-stage='stage1'] {

      path,
      g {
        stroke: $progress-green;
        fill: $progress-green;
      }

      &:hover {

        path,
        g {
          stroke: $progress-green-hover;
          fill: $progress-green-hover;
        }
      }
    }

    &[data-stage='stage2'] {

      path,
      g {
        stroke: $progress-yellow;
        fill: $progress-yellow;
      }

      &:hover {

        path,
        g {
          stroke: $progress-yellow-hover;
          fill: $progress-yellow-hover;
        }
      }
    }

    &[data-stage='stage3'] {

      path,
      g {
        stroke: $progress-grey;
        fill: $progress-grey;
      }

      &:hover {

        path,
        g {
          stroke: $progress-grey-hover;
          fill: $progress-grey-hover;
        }
      }
    }
  }

  .actions {
    grid-area: action-btn;

    button {
      grid-area: actionBtn;
      width: 8.75rem;
      height: 1.5rem;
      line-height: 0.75rem;
    }
  }

  .time {
    @include secondaryInfo;
    grid-area: time;
  }

  .apc {
    @include secondaryInfo;
    grid-area: apc;
  }

  .info {
    @include secondaryInfo;
    grid-area: info;
  }
}
