.container {
  display: flex;
  align-items: center;
  user-select: none;
  color: var(--input-second-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  .page {
    margin-right: 4px;
    &:not(:last-child):after {
      content: ' /';
      color: var(--input-second-color) !important;
    }
    &:not(:last-child):hover {
      color: var(--primary-color);
    }
    &:last-child {
      color: var(--main-text-color);
    }
  }
}
