:root {
  --dropdown-base-font-color: rgb(50, 49, 48);
  --selected-color: rgb(227, 227, 227);
}

.dropdown-root {
  position: relative;
}

.dropdown-control {
  position: relative;
  overflow: hidden;
  background-color: var(--secondary-background-color);
  border: 1px solid var(--divide-line-color);
  border-radius: 8px;
  box-sizing: border-box;
  cursor: pointer;
  outline: none;
  transition: all 200ms ease;
  font-size: 14px;
  font-weight: 400;
  color: var(--dropdown-base-font-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
}

.dropdown-arrow {
  transition: 0.2s;
  path {
    stroke: var(--secondary-text-color);
  }
}

.is-open .dropdown-arrow {
  transform: rotate(180deg);
  path {
    stroke: var(--primary-color);
  }
}

.dropdown-menu {
  background-color: var(--secondary-background-color);
  box-shadow: 0px 1px 4px #EEEEEE;
  border-radius: 8px;
  @media (prefers-color-scheme: dark) {
    box-shadow: none;
    border: 1px solid var(--border-color);
  }
  box-sizing: border-box;
  margin-top: 8px;
  padding: 0 16px;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1000;
  -webkit-overflow-scrolling: touch;
}

.dropdown-option {
  box-sizing: border-box;
  color: var(--dropdown-base-font-color);
  cursor: pointer;
  display: block;
  padding: 12px 0;
  font-size: 0.75rem;
  border-bottom: 1px solid var(--input-border-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-option:last-child {
  border: none;
}

.dropdown-option.is-selected {
  color: var(--dropdown-base-font-color);
}

.dropdown-disabled {
  background-color: var(--selected-color);
}

.dropdown-placeholder {
  font-size: 12px;
}

.dropdown-noresults {
  box-sizing: border-box;
  color: #ccc;
  cursor: default;
  display: block;
  padding: 8px 10px;
}
