.avatarIcon {
  width: 33px;
  height: 33px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee;
  font-size: 20px;
  text-transform: uppercase;
}
