.avatarIcon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--table-head-border-color);
  font-size: 20px;
  text-transform: uppercase;

  img {
    width: 24px;
  }
}
