@import '../../styles/mixin.scss';

.tokenName {
  @include tooltip;
  white-space: nowrap;
  display: inline-flex;

  & > span {
    @include text-overflow-ellipsis;
    display: inline-block;
  }
}

.tokenSymbol {
  @include tooltip;
  white-space: nowrap;
  display: inline-flex;
  max-width: 200px;

  & > span {
    @include text-overflow-ellipsis;
    display: inline-block;
  }
}
