@import '../../styles/mixin.scss';

.tokenName {
  @include tooltip;
  white-space: nowrap;
  display: inline-flex;
  max-width: calc(100px + (100vw - 1200px) / 2);

  & > span {
    @include text-overflow-ellipsis;
    display: inline-block;
  }
}

.tokenSymbol {
  @include tooltip;
  white-space: nowrap;
  display: inline-flex;
  max-width: calc(180px + (100vw - 1200px) / 2);

  & > span {
    @include text-overflow-ellipsis;
    display: inline-block;
  }
}
