@import '../../styles/mixin.scss';
$headerHeight: 126px;
$bottomHeight: 186px;

@mixin card {
  position: relative;
  border-radius: 16px;
  background: var(--secondary-background-color);
}

.pageHeader {
  display: flex;
  align-items: center;
  gap: 5px;
  svg {
    g,
    path {
      fill: var(--main-text-color);
    }
  }
}

.layout {
  display: flex;

  .left {
    flex: 1;
    position: relative;

    .info {
      padding: 20px 16px 16px;
      @include card;
      display: flex;
      gap: 16px;
      color: var(--main-text-color);
      .accountName {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
      }
      .tokenName {
        margin-top: 4px;
        font-size: 12px;
        line-height: 17px;
        overflow: initial !important;
        position: relative;
        color: var(--input-second-color);
      }
      .balance {
        margin-top: 8px;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        display: flex;
        align-items: center;
        .btn {
          height: 16px;
          min-width: 16px;
          padding: 0 8px;
          svg {
            g,
            path {
              fill: var(--main-text-color);
            }
          }
        }
      }
    }

    .sendContainer {
      margin-top: 16px;
      padding: 20px 16px 16px;
      @include card;
      .address {
        font-family: 'JetBrains Mono';
      }
      .radioGroup {
        margin-bottom: 4px;
      }
      .optionItem {
        padding: 6px 0 !important;
        justify-content: start;
        label {
          color: var(--third-text-color);
        }
        input[type='radio']:checked + span {
          color: var(--third-text-color);
        }
        &:hover {
          background: none;
        }
      }
      .attention {
        margin: 6px 0 0 4px;
        g,
        path {
          fill: var(--secondary-text-color);
        }
      }
      .tooltip {
        width: 340px;
        word-break: normal;
        white-space: normal;
      }
      .amount {
        margin-top: 20px;
      }
      .max {
        border-left: var(--divide-line-color) solid 1px;
        min-width: 20px;
        border-radius: 0;
        height: 24px;
        padding: 0 16px;
        margin-top: 15px;
      }
      .selectError {
        color: var(--error-color);
        font-size: 14px;
        margin-top: 4px;
      }
      .fee {
        grid-area: fee;
        padding-top: 20px;
        border-top: 1px dashed #ccc;
        margin-top: 8px;
        padding-right: 70px;
      }
    }

    .leftFooter {
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      height: 80px;
      display: flex;
      justify-content: center;
      align-items: center;

      .addButton {
        min-width: 216px;
        padding: 20px;
        box-shadow: 0 0 10px var(--primary-color);
        display: flex;
        align-items: center;
        justify-content: center;
        &_icon {
          margin-right: 8px;
        }
        svg {
          g,
          path {
            fill: var(--primary-text-color);
          }
        }
      }
    }
  }

  .right {
    margin-left: 16px;
    flex: 1;
    @include card;

    .rightContent {
      padding: 20px 16px 16px;
      margin-bottom: 120px;
      height: calc(100vh - $headerHeight - $bottomHeight);
    }

    .rightFooter {
      position: absolute;
      width: 100%;
      bottom: 16px;
      left: 0;
      display: flex;
      justify-content: center;

      button {
        width: 216px;
        &:last-child {
          margin-left: 12px;
        }
      }
    }
  }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
