@import '../../styles/mixin.scss';

.container {
  background: var(--secondary-background-color);
  display: flex;
  padding: 16px 0 16px 16px;
  border-radius: 16px;
  column-gap: 16px;

  .info {
    flex: 1;
    .baseInfo {
      cursor: pointer;
    }
    .accountName {
      color: var(--main-text-color);
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
    }
    .tokenName {
      margin-top: 4px;
      font-size: 12px;
      line-height: 17px;
      overflow: initial;
      position: relative;
      color: var(--input-second-color);

      & > span {
        @include text-overflow-ellipsis;
      }
    }
    .balance {
      margin-top: 8px;
      text-overflow: ellipsis;
      font-weight: 500;
      font-size: 16px;
      line-height: 22px;
    }
    .footer {
      border-top: 1px solid var(--table-head-border-color);
      margin-top: 12px;
      padding-top: 12px;
      .actions {
        display: flex;
        button {
          flex: 1;
          @include icon-hover-button;
          font-weight: 400;
        }
      }
      .editBtn {
        color: var(--orange-color);
        border: none;
        background: transparent;
        padding: 0;
        cursor: pointer;
        svg {
          g,
          path {
            fill: none;
            stroke: var(--orange-color);
          }
        }
      }
    }
  }
}
