@import '../../styles/mixin.scss';

.button {
  appearance: none;
  min-width: 160px;
  font-size: 16px;
  height: 56px;
  font-weight: 500;
  border: none;
  margin: 0;
  box-sizing: border-box;
  border-radius: 16px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &[data-type='default'] {
    background-color: transparent;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
  }

  &[data-type='reset'] {
    background-color: transparent;
    color: var(--button-cancel-color);
    border: 1px solid var(--border-color);
  }

  &[data-type='cancel'] {
    background-color: transparent;
    color: var(--button-cancel-color);
    border: 1px solid var(--border-color);
  }

  &[data-type='text'] {
    color: var(--primary-color);
    background-color: transparent;
  }

  &[data-type='primary'],
  &[data-type='ok'],
  &[data-type='submit'],
  &[data-type='confirm'] {
    background-color: var(--primary-color);
    color: var(--primary-text-color);
  }

  &[disabled] {
    opacity: 0.5;
    box-shadow: none !important;
    cursor: not-allowed;
  }

  .spinner {
    width: 16px;
    height: 16px;
    vertical-align: sub;
    margin-left: 4px;
    & > path {
      fill: white;
    }
  }
}

