@import '../../styles/mixin.scss';

.button {
  @include MediumText;
  appearance: none;
  min-width: 5.125rem;
  font-size: 0.75rem;
  line-height: 0.9375rem;
  font-weight: 500;
  letter-spacing: 0.6px;
  padding: 7px 7px;
  border: none;
  margin: 0;
  box-sizing: border-box;

  &[data-type='default'],
  &[data-type='reset'] {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;

    &:hover {
      @include SemiBoldText;
    }
  }

  &[data-type="cancel"] {
    background-color: #e3e3e3;
    color: #000;

    &:hover {
      @include SemiBoldText;
      background-color: #d1d1d1;
    }
  }

  &[data-type='primary'],
  &[data-type='ok'],
  &[data-type="submit"],
  &[data-type="confirm"] {
    background-color: var(--nervos-green);
    color: #fff;

    &:hover {
      @include SemiBoldText;
      background-color: #21b574;
    }
  }

  &:active {
    @include SemiBoldText;
    filter: invert(0.2);
  }

  &[disabled] {
    border: none !important;
    font-family: "SourceCodePro-Regular", monospace !important;
    background-color: rgb(243, 242, 241) !important;
    color: rgb(161, 159, 157) !important;
    box-shadow: none !important;
  }

}
