language: node_js

node_js:
  - '10.15'

cache:
  - npm
  - yarn

before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 1.13.0
  - export PATH=$HOME/.yarn/bin:$PATH

install:
  - yarn install
  - yarn lerna bootstrap

script:
  - yarn test
