@import '../../styles/mixin.scss';

.dialogTitle {
  display: flex;
  align-items: center;
  gap: 4px;
}

.tip {
  width: 340px;
  word-break: normal;
  white-space: normal;
}

.dialog {
  width: 680px;
}

.addressRoot {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin: 4px 0;

  .actions {
    position: absolute;
    width: 128px;
    height: 128px;
    top: 0;
    left: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    &:hover {
      background: rgba(0, 0, 0, 0.5);
      & > button {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    & > button {
      display: none;
      min-width: 0;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      color: var(--primary-color);
      background: var(--tag-green-bg-color);
      svg {
        width: 12px;
      }
    }

    .actionBtn {
      svg {
        g,
        path {
          fill: var(--primary-color);
        }
      }
    }
  }

  .verifyAddress {
    margin-top: 24px;
    min-width: 216px;
  }
}

.qrCode {
  position: relative;
  @keyframes fade-away {
    from {
      visibility: visible;
      opacity: 1;
    }

    to {
      visibility: visible;
      opacity: 0;
    }
  }

  &[data-copy-success='true'] {
    &::after {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 128px;
      height: 40px;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.8);
      backdrop-filter: blur(1px);
      user-select: none;
      border-radius: 40px;
      font-weight: 400;
      font-size: 14px;
      line-height: 40px;
      text-align: center;
      content: attr(data-copy-success-text);
      animation: 4s fade-away 1 forwards;
      color: #fff;
    }
  }
}

.copyAddress {
  width: 424px;
  margin-top: 16px;
}

.showAddress {
  word-break: break-all;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-family: 'JetBrains Mono';
  font-weight: 500;
  line-height: 24px;
  color: var(--main-text-color);
}

.actionWrap {
  margin-top: 8px;
  display: flex;
  justify-content: center;
  gap: 32px;

  button {
    appearance: none;
    border: none;
    background: none;
    font-size: 12px;
    font-family: PingFang SC;
    font-style: normal;
    font-weight: 500;
    color: var(--primary-color);
    line-height: normal;
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  .addressToggle {
    svg {
      pointer-events: none;
      margin-right: 5px;
    }
  }

  .privateKey {
    svg {
      width: 16px;
      margin-right: 3px;
      g,
      path {
        stroke: var(--primary-color);
      }
    }
  }
}

.verifyHardwareAddress {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
  align-items: center;

  button {
    width: 216px;
  }

  .success {
    color: var(--main-text-color);
  }
}
