@import '../../styles/mixin.scss';

.networks {
  grid-area: networks;
  overflow: auto;
  padding: 0 0 5px 8px;
}

.addBtn {
  @include icon-hover-button;
  margin: 16px 0 0 14px;
}

.networkLabel {
  display: flex;
  p {
    margin: 0 14px 0 0;
  }
  .tag {
    color: var(--input-second-color);
    margin: -4px;
    padding: 4px 8px;
    font-size: 12px;
    line-height: 17px;
    background: var(--table-head-background-color);
    border: 1px solid var(--divide-line-color);
    border-radius: 40px;
  }
}

.radioItem {
  margin-right: 16px;
  &:hover,
  &:focus {
    button {
      visibility: visible;
    }
  }
}
.suffix {
  display: flex;
  align-items: center;
  button {
    @include icon-hover-button;
    visibility: hidden;
  }
}
