@import '../../styles/mixin.scss';

.container {
  display: grid;
  grid-template: 'networks' auto 'actions' auto;
  grid-row-gap: 15px;
}

.networks {
  grid-area: networks;
  height: calc(100vh - 200px);
  overflow: auto;
  padding: 0 0 5px 8px;
}

.choiceLabel {
  display: flex !important;
  align-items: center;
  border: 1px solid transparent;
  padding: 3px;
  box-sizing: border-box;

  .networkLabel {
    display: flex;
    align-items: center;
    pointer-events: none;
    .url {
      position: relative;
      @include text-overflow-ellipsis;
      max-width: 650px;
      color: #999;
      pointer-events: none;
      padding-right: 0.6em;
      &:before {
        position: absolute;
        right: 0;
        content: ')';
      }
    }
  }
  button {
    display: flex;
    height: 1.25rem;
    align-items: center;
    visibility: hidden;
    appearance: none;
    margin: 0 0 0 10px;
    padding: 0;
    border: none;
    background: transparent;
    svg {
      pointer-events: none;
      path,
      g {
        fill: #888;
      }
    }
    &:hover {
      svg {
        path,
        g {
          fill: var(--nervos-green);
        }
      }
    }
  }
  &:hover,
  &:focus {
    border-color: #aeaeae;
    button {
      visibility: visible;
    }
  }
}

.actions {
  grid-area: actions;
  justify-self: flex-end;
  button {
    width: 9.375rem;
  }
}

.hasBottomBorder {
  border-bottom: 0.5px solid #ccc;
}
