@import '../../styles/mixin.scss';

.alertDialog {
  @include dialog-container;
  padding: 28px 24px 24px;
  text-align: center;
  width: 456px;

  &::backdrop {
    @include overlay;
  }

  .title {
    font-size: 16px;
    font-weight: 500;
    margin: 14px 0 16px 0;
    color: var(--main-text-color);
  }

  .message {
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    margin: 0;
    color: var(--dialog-secondary-text-color);
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }

  .actions {
    margin-top: 44px;
    display: flex;
    justify-content: center;

    & > button {
      margin: 0 12px;
    }
  }

  &::backdrop {
    @include overlay;
  }
}
