@import '../../styles//mixin.scss';

.alertDialog {
  @include DialogContainer;
  padding: 60px 72px;

  &::backdrop {
    @include Overlay;
  }

  .title {
    font-size: 1.125rem;
    font-weight: bold;
    letter-spacing: 0.9px;
    margin: 0 0 29px 0;
  }

  .message {
    font-size: 0.875rem;
    font-weight: 500;
    letter-spacing: 0.7px;
    margin: 0 0 32px 0;
  }

  .actions {
    display: flex;
    justify-content: flex-end;
  }

  &::backdrop {
    @include Overlay;
  }
}
