.propertyCell {
  display: flex;
  padding: 5px 5px;
  font-size: 14px;

  .label,
  .value {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .label {
    grid-area: label;
    padding-right: 15px;
  }

  .value {
    grid-area: value;
  }
}
