@import '../../styles/mixin.scss';

.propertyCell {
  display: flex;
  padding: 5px 5px 5px 0;
  font-size: 14px;

  .label,
  .value {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .label {
    @include BoldText;
    grid-area: label;
    padding-right: 15px;
    flex-shrink: 0;
  }

  .value {
    grid-area: value;
  }
}
