@import '../../styles';

.dialogWrap {
  @include dialog-container;
  max-width: 90vw;
  padding: 0;
  position: relative;

  &::backdrop {
    @include overlay;
  }
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 16px 12px;
  font-weight: 900;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  border-bottom: 1px solid var(--divide-line-color);
  svg {
    g,
    path {
      fill: var(--main-text-color);
    }
    cursor: pointer;
  }
  .title {
    font-weight: 500;
    font-size: 16px;
    color: var(--main-text-color);
  }
  .subTitle {
    font-weight: 400;
    font-size: 12px;
    margin-left: 6px;
    color: var(--dialog-secondary-text-color);
  }
}

.content {
  padding: 20px 16px 0;
  position: relative;
}

.footer {
  padding: 24px 0;
  @include dialog-footer;

  button {
    padding: 0 20px;
  }

  button:nth-child(2) {
    margin-left: 24px;
  }
}
