@import '../../styles/mixin.scss';
$hover-bg-color: #3cc68a4d;

.network {
  position: relative;
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 0.8rem;
  font-weight: bold;

  .name {
    position: relative;
    display: flex;
    align-items: center;
    line-height: 1em;
    word-break: break-all;
    margin-top: 3px;
  }

  /* keep the tooltip popped to make it more obvious */
  & {
    .tooltip {
      display: flex;
      opacity: 1;
    }
  }
  span[class^='label'] {
    margin-left: 0;
    padding: 0;
    height: 0.9rem;
    letter-spacing: 0.45px;
  }
}

.tooltip {
  @include medium-text;
  display: none;
  position: absolute;
  bottom: calc(100% + 10px);
  left: 12px;
  flex-direction: column;
  background-color: #fff;
  color: #000;
  min-width: 176px;
  padding: 5px 10px;
  border-radius: 1px;
  box-sizing: border-box;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.22);
  transition: all 0.2s ease-in-out;
  opacity: 0;
  pointer-events: none;
  font-size: 0.75rem;
  line-height: 1.25em;
  white-space: nowrap;

  .tooltipTitle {
    grid-area: title;
    word-wrap: none;
    word-break: keep-all;
    font-weight: 900;
    display: flex;
    justify-content: space-between;
  }

  .blockNumber {
    justify-self: flex-end;
    text-align: right;
    padding-left: 30px;
  }

  &::after {
    position: absolute;
    top: 100%;
    left: 60px;
    display: block;
    content: '';
    border: 10px solid transparent;
    border-top-color: #fff;
  }

  .lookingValidTarget {
    display: flex;
    align-items: center;
    pointer-events: initial;

    .openTarget {
      width: 14px;
      height: 14px;
    }
  }
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(359deg);
  }
}
