@import '../../styles/animation.scss';

.offsetConfirming {
  position: relative;
  width: fit-content;
  display: flex;
  align-items: center;

  .confirm {
    @include infinite-rotation;
    position: absolute;
    left: -16px;

    path {
      fill: #999;
    }
  }

  .confirmationLabel {
    color: #999;
    font-size: 12px;
    margin-left: 4px;
  }
}
