@import '../../styles/variable.scss';

.syncing {
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;

  .confirm {
    margin-right: 4px;
  
    path {
      fill: $main-color;
    }
  }
}

.expand {
  margin-left: 4px;

  &[data-is-open="true"] {
    transform: rotate(180deg);
  }
}

.synced {
  border: none;
  background-color: transparent;
  &::before {
    display: inline-block;
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 6px;
    background-color: $main-color;
    margin-right: 8px;
  }
}

.tipContainer {
  .tip {
    padding: 12px;
  }
  .blockSynced {
    font-size: 12px;
  }
  
  .blockNumber {
    font-family: D-DIN-PRO;
    font-weight: 700;
    font-size: 14px;
    color: var(--dialog-secondary-text-color);
    margin-top: 4px;
  }
  
  .lookingValidTarget {
    font-size: 12px;
    font-weight: 400;

    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background-color: var(--divide-line-color);
      margin: 12px 0 8px 0;
    }
  
    & > div {
      display: flex;
      align-items: center;

      & > svg {
        margin-left: 4px;
      }
    }
  }
}
