@import '../../styles/animation.scss';

.syncing {
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  color: var(--main-text-color);
  cursor: pointer;

  .confirm {
    @include infinite-rotation;
    margin-right: 4px;

    path {
      fill: var(--primary-color);
    }
  }
}

.expand {
  margin-left: 4px;
  transform: rotate(180deg);

  &[data-is-open='true'] {
    transform: rotate(0);
  }
}

.synced {
  border: none;
  background-color: transparent;
  color: var(--main-text-color);
  cursor: pointer;
  &::before {
    display: inline-block;
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 6px;
    background-color: var(--primary-color);
    margin-right: 8px;
  }
}

.tipContainer {
  .tip {
    padding: 12px;
    // set left 40% to avoid horizontal scroll bar when find valid target
    left: 40% !important;
  }
  .blockSynced {
    font-size: 12px;
  }

  .blockNumber {
    font-family: D-DIN-PRO;
    font-weight: 700;
    font-size: 14px;
    color: var(--dialog-secondary-text-color);
    margin-top: 4px;
  }

  .action {
    font-size: 12px;
    font-weight: 400;

    &.setStartBlockNumber {
      &::before {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background-color: var(--divide-line-color);
        margin: 12px 0;
      }
    }

    & > div {
      display: flex;
      align-items: center;
      color: var(--primary-color);
      cursor: pointer;

      & > svg {
        margin-left: 4px;
        width: 12px;
        height: 12px;
        g,
        path {
          fill: var(--primary-color);
        }
      }
    }
  }

  .item {
    margin-top: 8px;
    .title {
      font-size: 12px;
      font-weight: 400;
      display: flex;
      align-items: center;

      .question {
        height: 14px;
        flex: 1 1 auto;
        svg {
          margin-left: 4px;
          cursor: pointer;
          path {
            stroke: var(--secondary-text-color);
          }
          &:hover {
            path {
              stroke: var(--primary-color);
            }
          }
        }
      }

      .questionTip {
        top: calc(100% + 28px);
        right: -36px;
        width: 200px;
        left: inherit;
      }

      .leftTimeTip {
        white-space: normal;
        width: 200px;
      }
    }
    .number {
      color: var(--third-text-color);
      font-family: D-DIN-PRO;
      font-weight: 700;
    }
  }
}

.redDot {
  position: relative;
  color: var(--error-color);
  padding-left: 14px;
  display: flex;
  align-items: center;

  & > div {
    height: 14px;
  }

  svg {
    margin-left: 4px;
    cursor: pointer;
  }

  &::before {
    content: '';
    height: 6px;
    width: 6px;
    border-radius: 100%;
    position: absolute;
    left: 0;
    top: calc(50% - 3px);
    background: var(--error-color);
  }

  .helpTip {
    margin-top: 20px;
    right: -10px !important;

    & > div:nth-last-child(1) {
      right: 12px;
    }
  }

  .failedDetail {
    white-space: normal;
    min-width: 250px;
  }
  .openHelper {
    font-weight: 500;
    background: inherit;
    color: var(--primary-color);
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
  }
}
