@import '../../styles/animation.scss';

.syncing {
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  color: var(--main-text-color);
  cursor: pointer;

  .confirm {
    @include infinite-rotation;
    margin-right: 4px;

    path {
      fill: var(--primary-color);
    }
  }
}

.expand {
  margin-left: 4px;
  transform: rotate(180deg);

  &[data-is-open='true'] {
    transform: rotate(0);
  }
}

.synced {
  border: none;
  background-color: transparent;
  color: var(--main-text-color);
  cursor: pointer;
  &::before {
    display: inline-block;
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 6px;
    background-color: var(--primary-color);
    margin-right: 8px;
  }
}

.tipContainer {
  .tip {
    padding: 12px;
  }
  .blockSynced {
    font-size: 12px;
  }

  .blockNumber {
    font-family: D-DIN-PRO;
    font-weight: 700;
    font-size: 14px;
    color: var(--dialog-secondary-text-color);
    margin-top: 4px;
  }

  .action {
    font-size: 12px;
    font-weight: 400;

    &.setStartBlockNumber {
      &::before {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background-color: var(--divide-line-color);
        margin: 12px 0;
      }
    }

    & > div {
      display: flex;
      align-items: center;
      color: var(--primary-color);
      cursor: pointer;

      & > svg {
        margin-left: 4px;
        width: 12px;
        height: 12px;
        g,
        path {
          fill: var(--primary-color);
        }
      }
    }
  }

  .startBlockNumber {
    margin-top: 8px;
    .title {
      font-size: 12px;
      font-weight: 400;
    }
    .number {
      color: var(--third-text-color);
      font-family: D-DIN-PRO;
      font-weight: 700;
    }
  }
}

.redDot {
  position: relative;
  color: '#FF1E1E';
  padding-left: 14px;
  &::before {
    content: '';
    height: 6px;
    width: 6px;
    border-radius: 100%;
    position: absolute;
    left: 0;
    top: calc(50% - 3px);
    background: var(--error-color);
  }
}
