@import '../../styles/mixin.scss';
@import '../../styles/theme.scss';
@import '../../styles/animation.scss';

.topContainer {
  background-color: var(--secondary-background-color);
  overflow: hidden;
  border-radius: 16px;
  margin-bottom: 16px;

  .mid {
    display: flex;
    gap: 16px;
    position: relative;
    background: url('../../widgets/Icons/OverviewMask.svg') no-repeat left top;
    background-size: cover;
    padding: 32px 16px;
    .balance {
      flex: 1;
      border-radius: 16px;
      position: relative;
      color: var(--main-text-color);

      .balanceValue {
        font-family: 'D-DIN-PRO';
        font-weight: 500;
        font-size: 36px;
      }

      & > .balanceUnit {
        font-size: 16px;
        font-weight: 500;
        margin-left: 8px;
      }

      & > .balanceTitle {
        font-weight: 500;
        font-size: 16px;
        display: flex;
        align-items: center;
        margin-bottom: 11px;
        color: var(--input-second-color);

        & > svg {
          margin-left: 8px;
          cursor: pointer;

          path {
            fill: var(--input-second-color);
          }
        }
      }

      .items {
        display: flex;
        gap: 8px;
        margin-top: 26px;
        .button {
          min-width: 0;
          height: 40px;
          border-radius: 24px;
          background-color: var(--secondary-background-color);
          border: 1px solid var(--table-head-border-color);
          color: var(--main-text-color);
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 10px 16px;
          cursor: pointer;
          &.icon {
            width: 40px;
            padding: 0;
            justify-content: center;
          }
        }

        .lockedTitle {
          font-family: PingFang SC;
          font-size: 14px;
          font-weight: 500;
          letter-spacing: 0px;
          margin-left: 4px;
        }

        .lockedBalance {
          font-family: 'D-DIN-PRO';
          font-weight: 500;
          font-size: 16px;
        }

        .lockedUnit {
          font-size: 12px;
          margin-right: 2px;
        }

        .arrowNext {
          path {
            stroke-width: 1px;
            stroke: var(--main-text-color);
          }
        }
      }
    }
    .actions {
      display: flex;
      align-items: center;
      gap: 16px;
      .send {
        height: 56px;
      }
      button {
        width: 132px;
        svg {
          width: 24px;
          height: 24px;
          margin-right: 12px;
          g,
          path {
            fill: var(--primary-text-color);
            &:last-child {
              fill: var(--primary-color);
            }
          }
        }
      }
    }

    & > a {
      border: none;
      background: var(--secondary-background-color);
      border-radius: 16px;
      font-size: 16px;
      font-weight: 500;
      color: var(--primary-color);
      text-align: center;
      padding-top: 48px;

      @media (prefers-color-scheme: dark) {
        & > svg {
          :first-child {
            fill: var(--primary-color);
          }
          :not(:first-child) {
            fill: #14221c;
          }
        }
      }
    }
  }
}

.txStatus {
  display: flex;
  position: relative;
  align-items: center;

  & > svg {
    margin-right: 4px;
  }

  &[data-status='failed'] {
    color: #ff1e1e;
  }
}

@keyframes blink {
  from,
  to {
    opacity: 0.5;
  }

  50% {
    opacity: 1;
  }
}

.transactionTableHead {
  display: flex;
  padding: 18px 16px;
  justify-content: space-between;
  align-items: center;

  .recentActivitiesTitle {
    font-weight: 500;
    font-size: 16px;
    color: var(--main-text-color);
    margin: 0;
  }

  .linkToHistory {
    font-size: 14px;
    color: var(--secondary-text-color);
    cursor: pointer;

    &:hover {
      color: var(--activity-color);

      & > svg > path[stroke] {
        stroke: var(--activity-color);
      }
    }

    & > svg {
      margin-left: 4px;
      width: 10px;
      height: 10px;
      path[stroke] {
        stroke: #808784;
      }
    }
  }
}
