@import '../../styles/mixin.scss';
@import '../../styles/theme.scss';

.mid {
  height: 200px;
  display: grid;
  grid-template:
    'balance send receive' 200px /
    2fr 1fr 1fr;
  grid-column-gap: 16px;
  margin-bottom: 16px;
  .balance {
    grid-area: balance;
    border-radius: 16px;
    background-color: #26c786;
    position: relative;
    padding: 24px 16px;
    color: var(--primary-text-color);

    & > .backgroundImg {
      position: absolute;
      top: 0px;
      right: 0px;
    }

    & > .copyBalance {
      .balanceValue {
        font-family: 'D-DIN-PRO';
        font-weight: 500;
        font-size: 36px;
      }
    }

    & > .balanceUnit {
      font-size: 16px;
      font-weight: 500;
      margin-left: 8px;
    }

    & > .balanceTitle {
      font-weight: 500;
      font-size: 16px;
      display: flex;
      align-items: center;
      margin-bottom: 36px;

      & > svg {
        margin-left: 8px;
        cursor: pointer;

        path {
          fill: var(--svg-fill-color);
        }
      }
    }
  }
  .send {
    grid-area: send;
  }
  .receive {
    grid-area: receive;
  }

  & > a {
    border: none;
    background: var(--secondary-background-color);
    border-radius: 16px;
    font-size: 16px;
    font-weight: 500;
    color: var(--primary-color);
    text-align: center;
    padding-top: 48px;

    @media (prefers-color-scheme: dark) {
      & > svg {
        :first-child {
          fill: var(--primary-color);
        }
        :not(:first-child) {
          fill: #14221c;
        }
      }
    }
  }
}

.txStatus {
  display: flex;
  position: relative;
  align-items: center;

  .confirmText {
    color: #999;
    font-size: 12px;
    margin-left: 4px;
  }

  & > svg {
    margin-right: 4px;
  }

  &[data-status='failed'] {
    color: #ff1e1e;
  }
}

.noActivities {
  grid-area: more-link;
  font-size: 0.75rem;
  color: #000;
}

@keyframes blink {
  from,
  to {
    opacity: 0.5;
  }

  50% {
    opacity: 1;
  }
}

.transactionTablleHead {
  display: flex;
  padding: 18px 16px;
  justify-content: space-between;
  align-items: center;

  .recentActivitiesTitle {
    font-weight: 500;
    font-size: 16px;
    color: var(--main-text-color);
    margin: 0;
  }

  .linkToHistory {
    font-size: 14px;
    color: #8da394;
    cursor: pointer;

    &:hover {
      color: var(--activity-color);

      & > svg > path {
        stroke: var(--activity-color);
      }
    }

    & > svg {
      margin-left: 4px;
    }
  }
}

.isReceive {
  color: $main-color;
}
