@import '../../styles/mixin.scss';

.history {
  // need more discussion
  // min-height: calc(100vh - 100px);

  .listContainer {
    background-color: #fff;
    padding: 0 15px;
  }

  .pagination {
    margin-top: 20px;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-end;
  }
}

.noTxs {
  @include medium-text;
  padding: 20px 13px;
}
