@import '../../styles/mixin.scss';
@import '../../styles/theme.scss';

$history-info-title-color: #999;
$history-button-color: #8da394;

body {
  --history-button-border: #e5e5e5;

  @media (prefers-color-scheme: dark) {
    --history-button-border: #343e3c;
  }
}

.tableHeaderWrapper {
  display: flex;
  padding: 16px 16px 0 16px;
  gap: 16px;
  justify-content: space-between;

  .tableHeaderInput {
    margin: unset;
    width: 100%;
  }
  .searchBoxPrefix {
    font-family: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--input-second-color);
    font-size: 14px;
    max-width: 200px;
    font-weight: 500;
    padding-right: 10px;
  }
  .exportButton {
    color: var(--main-text-color);
    border-color: var(--history-button-border);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;

    .exportIcon {
      padding: 0 10px;
      path {
        fill: var(--main-text-color);
      }
    }
  }
}

.extendWrapper {
  .extendBox {
    background-color: var(--table-head-background-color);
    margin: 0 8px 16px 0;
    border-radius: 8px;
    padding: 16px;
    margin-left: 36px;
    display: grid;

    .infoBox {
      display: flex;
      margin-bottom: 16px;
    }

    .infoBlock {
      flex: 1;
      &Title {
        margin-bottom: 8px;
        color: $history-info-title-color;
      }

      .copyTableAddress {
        display: flex;
        align-items: center;
        gap: 10px;
        font-family: 'JetBrains Mono';
      }
    }
    .infoOperationBox {
      display: flex;
      margin-top: 20px;
      gap: 20px;

      .explorerNavButton,
      .detailNavButton {
        display: flex;
        border: none;
        background: inherit;
        padding: unset;
        justify-content: center;
        align-items: center;
        color: $history-button-color;
        gap: 5px;
        cursor: pointer;

        &:hover {
          color: var(--primary-color);
          svg > path {
            fill: var(--primary-color);
          }
        }
      }
    }
  }
}
.nameClass {
  width: 120px;
}

.avatarBox {
  display: flex;
  align-items: center;
  gap: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  svg {
    border-radius: 50%;
    filter: invert(1);
  }
}
.arrow {
  cursor: pointer;
  transition: transform 0.1s ease-in-out;

  &:hover {
    path {
      stroke: var(--primary-color);
    }
  }

  &[data-is-open='true'] {
    transform: rotate(90deg);
  }
}

.descTipRoot {
  position: relative;
  .autoHeight {
    width: 100%;
    height: 100%;
    position: absolute;

    & > svg {
      position: absolute;
      right: 0;
      bottom: 8px;
    }
  }
  .descInput {
    border: none;
    word-break: break-word;
    resize: none;
    width: 100%;
    height: 100%;
    line-height: 24px;
    background-color: transparent;
    color: var(--main-text-color);
    caret-color: #000000;
    @media (prefers-color-scheme: dark) {
      caret-color: #fff;
    }
  }
  & > .hidden {
    word-break: break-word;
    white-space: break-spaces;
    visibility: hidden;
    min-width: 100px;
    min-height: 24px;
    padding: 2px;
    line-height: 24px;
  }
}

.container {
  margin: 20px 0;
}

.isReceive {
  color: $main-color;
}
