@import '../../styles/mixin.scss';

.history {
  .pagination {
    margin-top: 12px;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-end;
  }
}

.noTxs {
  @include MediumText;
  padding: 20px 13px;
}
