@import '../../styles/mixin.scss';
@import '../../styles/theme.scss';
@import '../../styles/animation.scss';

$history-info-title-color: #999;

body {
  --history-button-border: #e5e5e5;

  @media (prefers-color-scheme: dark) {
    --history-button-border: #343e3c;
  }
}

.tableHeaderWrapper {
  display: flex;
  padding: 16px 16px 0 16px;
  gap: 16px;
  justify-content: space-between;

  .tableHeaderInput {
    margin: unset;
    flex: 1 1 auto;

    & > div {
      min-height: 48px;
    }
  }
  .searchBoxPrefix {
    font-family: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--input-second-color);
    font-size: 14px;
    max-width: 200px;
    font-weight: 500;
    padding-right: 10px;
  }
  .exportButton {
    color: var(--main-text-color);
    border-color: var(--history-button-border);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    border-radius: 32px;
    height: 48px;
    padding: 0 16px;
    min-width: auto;

    &:hover {
      color: var(--primary-color);
      .exportIcon {
        path {
          fill: var(--primary-color);
        }
      }
    }

    .exportIcon {
      width: 12px;
      height: 12px;
      padding-right: 8px;
      path {
        fill: var(--main-text-color);
      }
    }
  }
}

.extendWrapper {
  cursor: initial;

  .extendBox {
    background-color: var(--table-head-background-color);
    margin: 0 8px 16px 0;
    border-radius: 8px;
    padding: 16px;
    margin-left: 36px;
    display: grid;

    .infoBox {
      display: flex;
    }

    .infoBlock {
      &Title {
        margin-bottom: 8px;
        color: $history-info-title-color;
      }

      .copyTableAddress {
        display: flex;
        align-items: center;
        gap: 10px;
        font-family: 'JetBrains Mono';
      }

      .descText {
        padding-bottom: 16px;
        word-break: break-all;
        cursor: pointer;
        &:hover {
          color: var(--primary-color);
        }
      }

      .txHash {
        display: flex;
        align-items: center;
        font-family: 'JetBrains Mono';

        & > svg {
          margin-left: 8px;
          cursor: pointer;
        }
      }
    }

    .confirmCount {
      min-width: 50%;
    }

    .infoOperationBox {
      display: flex;
      margin-top: 20px;
      gap: 20px;

      .explorerNavButton,
      .detailNavButton {
        display: flex;
        border: none;
        background: inherit;
        padding: unset;
        justify-content: center;
        align-items: center;
        color: var(--secondary-text-color);
        gap: 5px;
        cursor: pointer;

        &:hover {
          color: var(--primary-color);
          svg > path {
            fill: var(--primary-color);
          }
        }
      }
    }
  }
}
.nameClass {
  width: 120px;
}

.avatarBox {
  display: flex;
  align-items: center;
  gap: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 58px;

  svg {
    border-radius: 50%;
    filter: invert(1);
  }
}

.confirm {
  @include infinite-rotation;
  margin-left: 4px;
}

.arrow {
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
  path {
    stroke: var(--secondary-text-color);
  }

  &:hover {
    path {
      stroke: var(--primary-color);
    }
  }

  &[data-is-expand-show='true'] {
    transform: rotate(90deg);
  }
}

.container {
  margin: 20px 0;
}

.isReceive {
  color: $main-color;
}

.tokenName {
  max-width: calc(100px + (100vw - 1300px) / 2);
}

.symbol {
  max-width: calc(180px + (100vw - 1300px) / 2);
}
