@import '../../styles/mixin.scss';

.tableRoot {
  @include card;
}

.noHead {
  thead {
    :first-child {
      border-top-left-radius: 16px;
    }
    :last-child {
      border-top-right-radius: 16px;
    }
  }
}

.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;

  thead {
    height: 48px;
    background-color: var(--table-head-background-color);
    font-weight: 400;
    color: #999;
    th {
      padding: 0 0 0 18px;
      font-weight: 400;
      border-top: 1px solid var(--table-head-border-color);
      border-bottom: 1px solid var(--table-head-border-color);

      & > .headWithBalance {
        display: flex;
        align-items: center;
      }
    }

    .balanceIcon {
      margin-left: 8px;
    }
  }

  tbody {
    tr {
      height: 58px;
    }
    td {
      padding: 0 0 0 18px;
      border-bottom: 1px solid var(--table-head-border-color);
    }
  }
}

.fixedTableRoot {
  &[data-have-head="true"] {
    .table {
      height: calc(100% - 52px);
    }
  }
  .table {
    tbody {
      height: 100%;
      display: block;
      height: calc(100% - 48px);
      overflow: hidden auto;
      &::-webkit-scrollbar {
        height: 6px;
        width: 6px;
      }
      &::-webkit-scrollbar-corner {
        background-color: transparent;
      }
      &::-webkit-scrollbar-thumb {
        width: 6px;
        background: #CCCCCC;
        border-radius: 48px;
      }
      @media (prefers-color-scheme: dark) {
        &::-webkit-scrollbar-thumb {
          background: #000;
          border: 1px solid #343E3C;
          border-radius: 48px;
        }
      }
    }

    thead, tbody tr {
      display: table;
      width: 100%;
      table-layout: fixed;
    }

    thead {
      width: calc( 100% - 8px)
    }
  }
}

.noData {
  padding: 22px 0 44px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.head {
  padding: 16px;
}