@import '../../styles/mixin.scss';

.tableRoot {
  @include card;
}

$table-head-height: 48px;
$head-height: 52px;

.noHead {
  thead {
    :first-child {
      border-top-left-radius: 16px;
    }
    :last-child {
      border-top-right-radius: 16px;
    }
  }
}

.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;

  thead {
    height: $table-head-height;
    background-color: var(--table-head-background-color);
    font-weight: 400;
    color: #999;
    th {
      padding: 0 0 0 18px;
      font-weight: 400;
      border-top: 1px solid var(--table-head-border-color);
      border-bottom: 1px solid var(--table-head-border-color);

      & > .headWithBalance {
        display: flex;
        align-items: center;
      }
    }

    .balanceIcon {
      margin-left: 8px;
      cursor: pointer;
    }
  }

  tbody {
    tr {
      height: 58px;
    }
    td {
      padding: 0 0 0 18px;
      border-bottom: 1px solid var(--table-head-border-color);

      &.noBorder {
        border: none;
      }
    }
  }
}

.fixedTableRoot {
  &[data-have-head='true'] {
    .table {
      height: calc(100% - $head-height);
    }
  }
  .table {
    tbody {
      height: 100%;
      display: block;
      height: calc(100% - $table-head-height);
      overflow: hidden auto;
    }

    thead,
    tbody tr {
      display: table;
      width: 100%;
      table-layout: fixed;
    }

    thead {
      width: calc(100% - 8px);
    }
  }
}

.noData {
  padding: 22px 0 44px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.head {
  padding: 0 16px;
  height: $head-height;
  line-height: $head-height;
}
