$arrow-size: 10px;

.container {
  --tile-green: #00c891;
  --tile-yellow: #f78c2a;
  --tile-grey: #f0f0f0;

  position: relative;
  background: var(--third-background-color);
  width: 280px;
  margin-top: $arrow-size;
  border-radius: 8px;
  font-size: 0.75rem;
  filter: drop-shadow(0px 2px 10px var(--main-shadow-color));

  .compensated {
    display: flex;
    justify-content: space-between;
    padding: 14px 12px;
    font-weight: 500;
    font-size: 14px;
  }

  .divider {
    margin: 0 12px;
    height: 1px;
    background: #f0f0f0;

    @media (prefers-color-scheme: dark) {
      background: var(--secondary-background-color);
    }
  }

  .times {
    padding: 0 12px;
    overflow: hidden;
    font-size: 14px;
    line-height: 20px;

    @media (prefers-color-scheme: dark) {
      color: #cccccc;
    }

    .time {
      font-weight: 500;
    }

    .immature,
    .normal,
    .suggested,
    .ending {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 4px;
      margin: 15px 0;
      padding-left: 18px;

      &::before {
        position: absolute;
        top: 5px;
        left: 0;
        display: block;
        content: '';
        width: 8px;
        height: 8px;
        border: 1px solid #e5e5e5;
        border-radius: 50%;
      }
    }

    .normal::before,
    .immature::before {
      background-color: var(--tile-grey);
    }

    .suggested::before {
      background-color: var(--tile-green);
    }

    .ending::before {
      background-color: var(--tile-yellow);
    }
  }

  &[data-stage='normal'] {
    .normal {
      font-weight: 900;
    }
  }

  &[data-stage='suggested'] {
    .normal {
      display: none;
    }
  }

  &[data-stage='ending'] {
    .normal,
    .suggested {
      display: none;
    }
  }

  &::before {
    position: absolute;
    left: 50%;
    bottom: 100%;
    transform: translateX(-50%);
    display: block;
    content: '';
    width: 0;
    height: 0;
    border: $arrow-size solid transparent;
    border-bottom-color: var(--third-background-color);
  }
}
