@import '../../styles/mixin.scss';

.container {
  .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 24px;

    .searchBox {
      height: 40px;
      background: var(--secondary-background-color);
      border: 1px solid var(--divide-line-color);
      border-radius: 40px;
      display: flex;
      column-gap: 10px;
      align-items: center;
      padding: 0 16px;
      flex: 1;

      input {
        display: block;
        border: none;
        background: transparent;
        width: 100%;
        color: var(--input-second-color);
      }
    }

    .actions {
      display: flex;
      column-gap: 16px;
      button {
        height: 40px;
        border: none;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }
      .addBtn {
        width: 112px;
        color: var(--primary-text-color);
        background: var(--primary-color);
        font-size: 500;
        svg {
          margin-right: 4px;
          g,
          path {
            fill: var(--primary-text-color);
          }
        }
      }
      .iconBtn {
        width: 40px;
        background: var(--input-disabled-color);
        border: 1px solid var(--divide-line-color);
        border-radius: 8px;
        svg {
          g,
          path {
            fill: var(--secondary-text-color);
          }
        }
        &:hover {
          background: var(--fourth-background-color);
          border-color: var(--fourth-background-color);
          svg {
            g,
            path {
              fill: var(--primary-color);
            }
          }
        }
      }
    }
  }

  .tableWrap {
    margin-top: 16px;
    min-height: 360px;
    min-width: 648px;
    border: 1px solid var(--table-head-border-color);
    border-radius: 16px;
    border-top: none;
    color: var(--main-text-color);

    @include checkbox;
  }

  .addressTr {
    font-family: 'JetBrains Mono';
  }

  .descTipRoot {
    position: relative;
    width: 200px;
    .autoHeight {
      width: 100%;
      height: 100%;
      position: absolute;

      & > svg {
        position: absolute;
        right: 0;
        bottom: 8px;
      }
    }
    .descInput {
      border: none;
      word-break: break-word;
      resize: none;
      width: 100%;
      height: 100%;
      line-height: 24px;
      background-color: transparent;
      color: var(--main-text-color);
      caret-color: #000000;
      @media (prefers-color-scheme: dark) {
        caret-color: #fff;
      }
    }
    & > .hidden {
      word-break: break-word;
      white-space: break-spaces;
      visibility: hidden;
      min-width: 100px;
      min-height: 24px;
      padding: 2px;
      line-height: 24px;
    }
  }

  .hoverBtn {
    cursor: pointer;
    padding-right: 30px;
    &:hover {
      color: var(--primary-color);
    }
  }
  .actionTr {
    padding-right: 20px;
    .tip {
      left: 10px !important;
    }
    .actionOptions {
      padding-top: 5px;
      button {
        background: none;
        font-size: 14px;
        padding: 0 16px;
        height: 40px;
        width: 100%;
        color: var(--main-text-color);
        border: none;
        text-align: left;
        display: flex;
        align-items: center;
        cursor: pointer;
        &[disabled] {
          opacity: 0.5;
          cursor: not-allowed;
        }
        svg {
          width: 16px;
          height: 16px;
          margin-right: 16px;
          g,
          path {
            fill: var(--main-text-color);
          }
        }
        &:hover {
          border-radius: 8px;
          background-color: var(--tooltip-hover-background-color);
        }
      }
    }
  }
}

.dialog {
  @include dialog-container;
  padding: 30px 50px;
}

.approveDialog {
  @include dialog-container;
  padding: 30px 50px;
  max-width: 800px;
}

.ok {
  margin: 12px 0;
  text-align: center;
}
