.tag[type='button'] {
  line-height: 22px;
  margin: auto 8px;
  padding: 0 8px;
  background: #eafbf6;
  border: 1px solid #bbe7d4;
  color: #999;
  border-radius: 48px;
  cursor: pointer;

  &:hover {
    color: var(--primary-color);
  }

  @media (prefers-color-scheme: dark) {
    background: #171b1a;
    border-color: #343e3c;
  }
}
