@import '../../styles/mixin.scss';

.dialog {
  @include dialog-container;
  padding: 0;

  &::backdrop {
    @include overlay;
  }
  color: var(--main-text-color);
}

.headerTitle {
  font-weight: 500;
  font-size: 16px;
  padding: 24px 16px;
  border-bottom: 1px solid var(--lock-info-title-border);
}
.container {
  padding: 0 16px 24px 16px;
  background-color: var(--secondary-background-color);
}

.title {
  font-weight: 500;
  font-size: 16px;
  color: var(--main-text-color);
}

.shortAddr {
  padding: 16px;
  margin-top: 16px;
  background: var(--table-head-background-color);
  border-radius: 8px;
  position: relative;
  display: flex;
  align-items: center;

  .copyIcon {
    position: absolute;
    right: 20px;
    cursor: pointer;
  }
}

.infoWrap {
  padding: 20px;
  border-radius: 6px;
  background-color: rgb(249, 249, 249);

  li:not(:first-child) {
    margin-top: 10px;
  }

  li {
    display: flex;

    > div:first-child {
      width: 110px;
      font-weight: 600;
      margin-right: 10px;
    }

    > div:last-child {
      flex: 1;
      word-break: break-all;
    }
  }
}

.lock {
  position: relative;

  .copyIcon {
    position: absolute;
    right: 12px;
    top: 12px;
    cursor: pointer;
  }

  pre {
    overflow: auto;
    background: var(--table-head-background-color);
    padding: 16px;
    border-radius: 6px;
    font-size: 12px;
  }

  .copyBtn {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 15px;
    height: 15px;
    cursor: pointer !important;
    opacity: 0;

    svg {
      width: 100%;
      height: 100%;
      pointer-events: none;
    }

    &:hover {
      filter: brightness(0.5);
    }
  }
  &:hover .copyBtn {
    opacity: 100%;
  }
}

.notice {
  position: fixed;
  background-color: var(--notice-background-color);
  left: 50%;
  top: 11px;
  transform: translateX(-50%);
  border-radius: 12px;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  padding: 14px 36px;
  animation: 2s hidden 1 ease-in-out;
  visibility: hidden;
  justify-content: center;
  z-index: 100;
  & > svg {
    margin-right: 4px;
  }
}

@keyframes hidden {
  from {
    visibility: visible;
    opacity: 1;
  }

  to {
    visibility: visible;
    opacity: 0;
  }
}
