@import '../../styles/mixin.scss';

.dialog {
  @include dialog-container;
  padding: 0;

  &::backdrop {
    @include overlay;
  }
}

.container {
  padding: 30px 50px;
}

.title {
  font-weight: 900;
  font-size: 1.125rem;
}

.infoWrap {
  padding: 20px;
  border-radius: 6px;
  background-color: rgb(249, 249, 249);

  li:not(:first-child) {
    margin-top: 10px;
  }

  li {
    display: flex;

    > div:first-child {
      width: 110px;
      font-weight: 600;
      margin-right: 10px;
    }

    > div:last-child {
      flex: 1;
      word-break: break-all;
    }
  }
}

.lock {
  position: relative;

  pre {
    overflow: auto;
    background: #eee;
    padding: 10px;
    border-radius: 6px;
    font-size: 12px;
  }

  .copyBtn {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 15px;
    height: 15px;
    cursor: pointer!important;
    opacity: 0;

    svg{
      width: 100%;
      height: 100%;
      pointer-events: none;
    }

    &:hover {
      filter: brightness(0.5);
    }
  }
 &:hover .copyBtn {
    opacity: 100%;
  }
}

