@import '../../styles/mixin.scss';

.container {
  display: grid;
  grid-template:
    'info-title'auto 'info-detail'auto 'inputs-title'auto 'inputs'auto 'outputs-title'auto 'outputs'auto / 1fr;
  grid-row-gap: 15px;

  table {
    border-collapse: collapse;
  }

  thead {
    border-bottom: 1px solid #e3e3e3;
  }

  tbody tr:hover {
    background-color: #f5f5f5;
  }

  th {
    @include BoldText;
    height: 2.625rem;
    text-align: left;
  }

  td {
    height: 1.75rem;
    word-wrap: none;
    word-break: keep-all;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  span,
  td,
  th {
    font-size: 0.875rem;
    letter-spacing: 0.5px;
    padding: 0;
  }

  th,
  td {
    &:first-of-type {
      padding-left: 10px;
      width: 80px;
    }

    &:last-of-type {
      padding-right: 10px;
      width: 336px;
    }
  }

  .addressCell {
    max-width: calc(90vw - 416px);
    padding-right: 15px;
  }


}

.infoTitle,
.inputsTitle,
.outputsTitle {
  @include BoldText;
  line-height: 1.125rem;
  font-size: 1.125rem;
  letter-spacing: 0.9px;
  color: #000000;
  padding: 0;
  margin: 0;
}

.infoTitle {
  grid-area: info-title;
  margin-bottom: 10px;
}

.infoDetail {
  grid-area: info-detail;
  margin-bottom: 21px;

  &>div {
    display: flex;
    justify-content: space-between;
    pointer-events: none;
    margin-bottom: 17px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.inputsTitle {
  grid-area: inputs-title;
  margin-bottom: 8px;
}

.inputList {
  grid-area: inputs;
}

.outputsTitle {
  grid-area: outputs-title;
  margin-top: 20px;
  margin-bottom: 8px;
}

.outputList {
  grid-area: outputs;
}

.explorerNavButton {
  position: fixed;
  right: 15px;
  bottom: 15px;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  font-size: 12px;
  color: #fff;
  background: rgba(60, 198, 138, 0.8);
  border: none;
  border-radius: 15px;
  transition: all 0.2s;
  z-index: 1;

  span {
    display: none;
  }

  i {
    display: flex;
  }

  &:hover {
    width: 100px;
    border-radius: 2px;

    span {
      display: flex;
    }

    i {
      display: none;
    }
  }
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
