@import '../../styles/mixin.scss';

.dialog {
  @include dialog-container;
  padding: 30px 50px;
  min-height: 245px;
  width: 600px;

  .container {
    height: 220px;
    display: flex;
    flex-direction: column;

    .main {
      flex: 1;
    }

    .action {
      @extend .main;
      text-align: center;
      .message {
        margin-top: 26px;
        font-weight: bold;
      }

      +.footer {
        justify-content: center;
      }

      svg {
        width: 56px;
        height: 56px;
      }

      .rotating {
        svg {
          animation: rotating 3s linear infinite;
        }
      }
    }

    .detect {
      @extend .main;
      margin-left: 20px;
    }
  }

  .model {
    font-weight: bold;
    font-size: 14px;
    margin-top: 0;
  }

  &::backdrop {
    @include overlay;
  }

  .footer {
    @include dialog-footer;
    flex-shrink: 0;

    button {
      margin-left: 10px;
    }
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.info {
  font-size: 13px;
  color: #888;
  display: flex;

  svg {
    width: 14px;
    height: 14px;
    margin-right: 4px;
    position: relative;
    top: 2px;
  }

  .error {
    color: #d03a3a;
  }

  .scaning {
    margin-left: 18px;
  }
}

.aborted {
  font-size: 13px;
  color: #888;
  position: relative;
  left: 18px;
}

.title {
  font-size: 1.125rem;
  line-height: 1.375rem;
  font-weight: bold;
  letter-spacing: 0.9px;
  margin: 0;
  margin-bottom: 26px;
}
