@import '../../styles/mixin.scss';

.importHardwareRoot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 96px;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .selectDevice {
      display: flex;
      flex-direction: column;

      input {
        text-align: left;
      }
    }

    .attention {
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: var(--notice-text-color);
      display: flex;
      align-items: center;
        & > svg {
          width: 16px;
          height: 16px;
          margin-right: 8px;
        }
    }

    .action {
      flex: 1;
      text-align: center;
      .message {
        margin-top: 26px;
        font-weight: bold;
        color: var(--main-text-color);
      }

      +.footer {
        justify-content: center;
      }

      svg {
        width: 56px;
        height: 56px;
      }

      .rotating {
        svg {
          animation: rotating 3s linear infinite;
        }
      }
    }

    .detect {
      text-align: center;
    }
  }

  &::backdrop {
    @include overlay;
  }

  .footer {
    @include form-footer;
    flex-shrink: 0;

    button {
      margin-left: 10px;
    }
  }

  .dialogFooter {
    @include dialog-footer;
    margin-top: 45px;

    button {
      &:not(:first-child) {
        margin-left: 22px;
      }
    }
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.errorInfo,
.info {
  font-size: 14px;
  color: var(--secondary-text-color);
  display: flex;
  margin-top: 19px;

  svg {
    width: 14px;
    height: 14px;
    margin-right: 4px;
    position: relative;
    top: 2px;
  }

  .error {
    color: var(--error-color);
    word-wrap:break-word;
  }
}

.errorInfo {
  font-size: 16px;
  word-break: break-all;
}

.aborted {
  font-size: 14px;
  color: var(--secondary-text-color);
  margin: 8px 0 0;
}

.title {
  @include header-title;
  margin-bottom: 8px;
}

.dialog {
  @include dialog-container;

  .container {
    .title {
      font-size: 20px;
    }

    .model {
      font-weight: 600;
      font-size: 18px;
      line-height: 18px;
      margin-top: 12px;
      color: var(--main-text-color);
    }
  }
}

.alert {
  width: 100%;
}
