@import '../../styles/mixin.scss';

.balance {
  @include regular-text;
  display: block;
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: keep-all;

  .int {
    @include bold-text;
    font-size: 1.125em;
  }

  .decimal {
    font-size: 0.875em;
  }

  .suffix {
    font-size: 1.125em;
    padding-left: 3px;
  }
}
