.container {
  --progress-grey: #f0f0f0;
  --progress-green: #00c891;
  --progress-yellow: #f78c2a;

  @media (prefers-color-scheme: dark) {
    --progress-grey: #666666;
  }

  position: relative;
  box-sizing: border-box;

  .indicator {
    display: block;
    transform: translateX(-50%);

    & > path {
      fill: currentColor;
    }
  }

  &:hover {
    .progress {
      filter: brightness(0.9);

      @media (prefers-color-scheme: dark) {
        filter: brightness(1.2);
      }
    }
  }
}

.progress {
  position: relative;
  display: flex;
  justify-content: right;
  margin-top: 4px;
  height: 8px;
  border-radius: 8px;
  background: var(--progress-grey);

  .withdrawCursor {
    position: absolute;
    left: 10%;
    width: 2px;
    height: 100%;
    margin-left: -1px;
    background: var(--main-text-color);
    border-radius: 4px;
  }

  .suggest {
    width: 20%;
    height: 100%;
    background: var(--progress-green);
    border-radius: 8px 0 0 8px;
  }

  .warning {
    width: 3.3%;
    height: 100%;
    background: var(--progress-yellow);
    border-radius: 0 8px 8px 0;
  }

  &.pendingProgress {
    background: repeating-linear-gradient(
      -45deg,
      #ccc,
      #ccc 6.8px,
      #e3e3e3 6.8px,
      #e3e3e3 13.6px
    );
    background-size: 200% 100%;
    animation: move 35s linear infinite;
  }
}

@keyframes move {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -100% 0;
  }
}
