.badge {
  position: relative;

  &::after {
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #ff1e1e;
    position: absolute;
    top: 20%;
    margin-left: 4px;
  }
}
