.root {
  width: 624px;
  background: var(--secondary-background-color);
  border: 1px solid #f0f0f0;
  border-radius: 8px;
  display: grid;
  grid-template-columns: repeat(6, 60px);
  grid-template-rows: repeat(2, auto);
  grid-gap: 46px;
  padding: 32px;
  margin: 0 auto;
  color: var(--main-text-color);
  @media (prefers-color-scheme: dark) {
    border: none;
  }

  & * {
    font-family: 'ProximaNova-Regular';
    font-size: 14px;
  }

  & .showItem {
    font-weight: 600;
  }

  & .wordItem {
    position: relative;
    color: var(--input-second-color);
    &:focus-within {
      color: var(--main-text-color);
    }
    &:not(:focus-within) {
      &.errorWords {
        & > input {
          border-bottom: 1px solid #ff1e1e;
        }
      }
    }

    .dropdown {
      position: absolute;
      height: 132px;
      overflow-y: auto;
      min-width: 72px;
      background: var(--secondary-background-color);
      padding: 2px;
      border-radius: 6px;
      z-index: 10;
      top: 24px;
      left: 16px;

      .dropdownItem {
        margin-bottom: 4px;
        line-height: 16px;
        padding: 4px;
        color: var(--main-text-color);
        border-radius: 4px;
        border: none;
        width: 100%;
        background: none;
        text-align: start;
        cursor: pointer;
        &:hover {
          background: var(--hover-background-color);
        }
      }
    }
  }

  & > div {
    display: flex;
    text-align: left;

    & > span {
      margin-left: 8px;
    }

    & > input {
      border: none;
      border-bottom: 1px solid var(--input-border-color);
      width: 60px;
      margin-left: 8px;
      background-color: transparent;
      color: var(--main-text-color);
      padding-bottom: 4px;

      &:focus {
        border-bottom: 1px solid #00c891;
      }

      &:disabled {
        color: var(--input-second-color);
        border-bottom: none;
      }
    }
  }
}
