@import '../../styles/mixin.scss';

.pricePanel {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 8px;

  .transferSwitch {
    display: flex;
    align-items: center;
    color: var(--secondary-text-color);
  }
}

.transferWrap {
  display: flex;
  align-items: center;
  position: relative;
  border: none;
  background: none;
  svg > path {
    fill: var(--secondary-text-color);
  }

  &:hover {
    font-size: 14px;

    svg > path {
      fill: var(--primary-color);
    }
  }
}

.dropdownBox {
  margin: 4px 0px 19px 0px;
  --tag-red-bg-color: #ffe8e8;
  --tag-green-bg-color: #effaf7;
  --tag-blue-bg-color: #e8faff;
  @media (prefers-color-scheme: dark) {
    --tag-red-bg-color: #322929;
    --tag-green-bg-color: #2e3735;
    --tag-blue-bg-color: #2d3638;
  }
}
.suffix {
  font-family: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #434343;
  padding: 0 10px;
  font-size: 0.75rem;
  max-width: 200px;
}
.timeoutWrap {
  display: flex;
  align-items: center;
  font-size: 14px;
  gap: 4px;
  color: var(--secondary-text-color);
}
.labelWrap {
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;

  .labelComment {
    display: inline-block;
    font-weight: 400;
    padding: 8px 12px;
    border-radius: 24px;
    margin-left: 8px;
    font-size: 12px;
    line-height: 17px;
  }
  .green {
    color: #00c891;
    background: var(--tag-green-bg-color);
  }
  .blue {
    color: #23bff0;
    background: var(--tag-blue-bg-color);
  }
  .red {
    color: #ff5656;
    background: var(--tag-red-bg-color);
  }
}
