@import '../../styles/mixin.scss';

.pricePanel {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 8px;

  .transferSwitch {
    display: flex;
    color: var(--secondary-text-color);
  }
}

.transferWrap {
  display: flex;
  align-items: center;
  position: relative;
  border: none;
  background: none;
  svg > path {
    fill: var(--secondary-text-color);
  }

  &:hover {
    font-size: 14px;

    svg > path {
      fill: var(--primary-color);
    }

    &::after {
      position: absolute;
      display: inline-block;
      left: 50%;
      transform: translate(-50%, -99%);
      padding: 12px;
      border-radius: 8px;
      overflow-wrap: break-word;
      background-color: var(--tooltip-background-color);
      color: var(--tooltip-font-color);
      user-select: text;
      white-space: nowrap;
      text-align: center;
      content: attr(data-content);
    }
    &::before {
      content: '';
      user-select: text;
      border-width: 9px;
      border-style: solid;
      border-color: transparent;
      display: inline-block;
      border-top-color: var(--tooltip-background-color);
      transform: translate(-50%, -70%);
      left: 50%;
      position: absolute;
    }
  }
}

.dropdownBox {
  margin: 4px 0px 19px 0px;
  --tag-red-bg-color: #FFE8E8;
  --tag-green-bg-color: #EFFAF7;
  --tag-blue-bg-color: #E8FAFF;
  @media (prefers-color-scheme: dark) {
    --tag-red-bg-color: #322929;
    --tag-green-bg-color: #2E3735;
    --tag-blue-bg-color: #2D3638;
  }
}
.suffix {
  font-family: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #434343;
  padding: 0 10px;
  font-size: 0.75rem;
  max-width: 200px;
}
.timeoutWrap {
  display: flex;
  align-items: center;
  font-size: 14px;
  gap: 4px;
  color: var(--secondary-text-color);
}
.labelWrap {
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;

  .labelComment {
    display: inline-block;
    font-weight: 400;
    padding: 8px 12px;
    border-radius: 24px;
    margin-left: 8px;
    font-size: 12px;
    line-height: 17px;
  }
  .green {
    color: #00C891;
    background: var(--tag-green-bg-color);
  }
  .blue {
    color: #23BFF0;
    background: var(--tag-blue-bg-color);
  }
  .red {
    color: #FF5656;
    background: var(--tag-red-bg-color);
  }
}
