@import '../../styles/mixin.scss';
$width: 374px;

.calendar {
  width: $width;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(2px);

  .popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    background: #fff;
    padding: 60px 85px;
    border-radius: 2px;
    box-shadow: 4px 7px 10px 0 rgba(0, 0, 0, 0.22);

    .title {
      @include dialog-title;
    }

    .timezone {
      span:first-child {
        @include semi-bold-text;
        margin-right: 5px;
      }

      @include regular-text;
      margin-bottom: 8px;
    }

    input,
    .displayedTime {
      width: $width;
      height: 26px;
      font-size: 12px;
      box-sizing: border-box;
      border: 1px solid #eee;
      padding: 5px;
    }

    .displayedTime {
      span:first-child {
        @include regular-text;
        margin-right: 5px;
      }

      span:last-child {
        @include semi-bold-text;
      }
    }

    input {
      border-color: var(--nervos-green);
    }
  }

  .actions {
    @include dialog-footer;
    width: $width;
    margin-top: 28px;

    button:last-child {
      @include dialog-confirm-button;
      margin-left: 9px;
    }
  }

  .notice {
    @include regular-text;
    width: $width;
    font-size: 0.75rem;

    h5 {
      font-size: 0.875rem;
      font-weight: 600;
      padding: 0;
      margin: 22px auto 6px auto;
    }
  }

  .error {
    @include regular-text;
    color: red;
    font-size: 0.75rem;
    margin-top: 5px;
  }
}
