@import '../../styles/mixin.scss';

.container {
  width: 648px;

  p {
    font-size: 14px;
    color: var(--main-text-color);
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin: 24px 0 10px;

    & > button {
      gap: 4px;
      width: 160px;
      height: 1em;
      padding: 0;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
    }

    .divider {
      width: 1px;
      height: 16px;
      background: var(--divide-line-color);
    }

    .signAndExportFromGenerateTx {
      &[disabled] {
        color: var(--button-cancel-color);

        > svg {
          g,
          path {
            fill: currentColor;
          }
        }
      }
    }
  }
}

.warning {
  color: var(--error-color);
}

.hardwareSignInPage {
  .container {
    width: 100%;
  }
  .actions {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 24px;
  }
}
