@import '../../styles/mixin.scss';

$error-red: #d50000;

.textField {
  @include regular-text;
  display: grid;
  grid-template: 'label input' auto 'blank message' minmax(0.6875rem, auto) / auto 1fr;
  grid-gap: 4px;

  &[data-required='true'] {
    label::after {
      display: inline;
      content: '*';
      padding-left: 10px;
    }
  }

  &[data-has-error='true'] {
    .input {
      border-color: $error-red !important;
    }
  }

  label {
    grid-area: label;
    font-size: 0.875rem;
    line-height: 1.125rem;
    color: #000000;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: inherit;
  }

  .input {
    font-family: inherit;
    grid-area: input;
    color: #434343;
    border: solid 1px #000000;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    box-sizing: border-box;

    input {
      font-family: inherit;
      font-size: 0.75rem;
      flex: 1;
      border: none;
      padding: 5px 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: keep-all;

      &[disabled] {
        background-color: #e3e3e3;
      }
    }

    .suffix {
      font-family: inherit;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #434343;
      padding: 0 10px;
      font-size: 0.75rem;
    }

    &:focus-within {
      border-color: var(--nervos-green);
    }
  }
}

.stack {
  grid-template: 'label' auto 'input' auto 'message' minmax(0.6875rem, auto) / auto;
}

.hint {
  font-family: inherit;
  grid-area: message;
  font-size: 0.5625rem;
}

.errorMessage {
  font-family: inherit;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  grid-area: message;
  color: $error-red;
  font-size: 0.5625rem;
  line-height: 0.6875rem;
  word-break: break-all;

  svg {
    width: 8px;
    height: 8px;
    margin-right: 5px;
    margin-top: 0.125rem;
  }
}
