@import '../../styles/mixin.scss';

$error-red: #d50000;

.textField {
  display: grid;
  grid-template:
    'label input'auto 'blank message'minmax(0.6875rem, auto) / auto 1fr;
  grid-gap: 4px;

  &[data-required="true"] {
    label::after {
      display: inline;
      content: '*';
      color: red;
    }
  }

  &[data-has-error="true"] {
    .input {
      border-color: $error-red !important;
    }
  }

  label {
    @include MediumText;
    grid-area: label;
    font-size: 0.875rem;
    line-height: 1.125rem;
    letter-spacing: 0.7px;
    color: #000000;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .input {
    grid-area: input;
    letter-spacing: 0.6px;
    color: #434343;
    border: solid 1px #000000;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    box-sizing: border-box;

    input {
      @include RegularText;
      font-size: 1rem;
      flex: 1;
      border: none;
      padding: 4.5px;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: keep-all;

      &[disabled] {
        background-color: #e3e3e3;
      }
    }


    .suffix {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #434343;
      letter-spacing: 0.6px;
      padding: 0 10px;
      font-size: 1rem;
    }

    &:focus-within {
      border-color: var(--nervos-green);
    }
  }

}

.stack {
  grid-template:
    'label'auto 'input'auto 'message'minmax(0.6875rem, auto) /auto;
}

.hint {
  @include RegularText;
  grid-area: message;
  letter-spacing: 0.45px;
  font-size: 0.5625rem;
}

.errorMessage {
  @include RegularText;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  grid-area: message;
  color: $error-red;
  letter-spacing: 0.45px;
  font-size: 0.5625rem;
  line-height: 0.6875rem;
  word-break: break-all;

  svg {
    width: 8px;
    height: 8px;
    margin-right: 5px;
    margin-top: 0.125rem;
  }
}
