@import '../../styles';

.textField {
  @include regular-text;
  display: grid;
  grid-template: 'label input' auto 'blank message' minmax(0.6875rem, auto) / auto 1fr;
  grid-gap: 4px;

  &[data-required='true'] {
    label::after {
      display: inline;
      content: '*';
      padding-left: 10px;
    }
  }

  &[data-has-error='true'] {
    .input {
      border-color: var(--error-color) !important;
    }
  }

  label {
    grid-area: label;
    font-size: 14px;
    line-height: 20px;
    color: var(--secondary-text-color);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: inherit;
    margin-bottom: 8px;
  }

  .input {
    font-family: inherit;
    grid-area: input;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    box-sizing: border-box;
    background: #ffffff;
    border: 1px solid var(--divide-line-color);
    border-radius: 8px;
    width: 100%;
    height: 56px;
    padding: 0 16px;

    @media (prefers-color-scheme: dark) {
      background: transparent;
    }

    &[data-disabled='true'] {
      background-color: var(--input-disabled-color);
    }
    &[data-type='button'] {
      color: var(--input-button-color);
      cursor: pointer;
      & > input {
        cursor: pointer;
      }

      &[data-selected='true'] {
        color: var(--activity-color);
        border-color: var(--activity-color);
        & > input {
          color: var(--activity-color);
        }
      }
      &[data-disabled='true'] {
        cursor: not-allowed;
        & > input {
          cursor: not-allowed;
        }
      }
    }
    &:focus-within {
      border-color: var(--activity-color);
    }

    input,
    textarea {
      font-family: inherit;
      font-size: 14px;
      flex: 1;
      border: none;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: keep-all;
      color: var(--main-text-color);
      background-color: transparent;

      &::placeholder {
        color: var(--input-second-color);
      }
    }

    textarea {
      resize: none;
      padding: 10px 0;
    }

    .suffix,
    .prefix {
      font-family: inherit;
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--input-second-color);
      padding: 0 10px;
      font-size: 14px;
      max-width: 200px;
      font-weight: 500;

      &.password {
        cursor: pointer;
      }
    }
  }
}

.stack {
  grid-template: 'label' auto 'input' auto 'message' minmax(0.6875rem, auto) / auto;
}

.hint {
  font-family: inherit;
  grid-area: message;
  font-size: 14px;
  margin: 8px 0 12px 0;
  line-height: 20px;
  color: var(--input-hint-color);
}

.errorMessage {
  grid-area: message;
  word-break: break-all;
}

.editTextField {
  display: flex;
  align-items: center;

  .editBtn {
    appearance: none;
    border: none;
    background-color: transparent;
    width: 2rem;
    height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      pointer-events: none;

      g {
        fill: #000;
      }
    }
  }

  input {
    font-size: 14px;
  }

  & > div {
    border: none !important;
  }

  @media screen and (max-width: 1500px) {
    input {
      width: 100px;
    }
  }
}
