@import '../../styles/mixin.scss';

.container {
  width: 648px;

  .textFieldClass {
    margin-bottom: 10px;
  }
}

.remoteError {
  display: flex;
  align-items: center;
  height: 15px;
  padding-bottom: 15px;
  grid-area: remote-error;
  font-size: 0.75rem;
  color: #d50000;
  svg {
    width: 15px;
    height: 15px;
    margin-right: 5px;
  }
}
