@import '../../styles/mixin.scss';

.container {
  position: absolute;
  top: 0;
  left: 30px;
  right: 30px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}

.actions {
  @include formFooter;
}
