@import '../../styles/mixin.scss';

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}

.actions {
  @include formFooter;
}
