.root {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;

  & > input {
    width: 40px;
    height: 60px;
    border-radius: 8px;
    border: 1px solid var(--secondary-text-color);
    text-align: center;

    &:focus {
      border-color: var(--primary-color);
      caret-color: var(--primary-color);
    }
  }
}
