$shadow-color: rgba(0, 0, 0, 0.05);
$disable-button-text-color: var(--disable-button-text-color);
$enable-button-text-color: var(--enable-button-text-color);
$secondary-background-color: var(--secondary-background-color);

.container {
  font-size: 0.875rem;
  display: flex;
  align-items: center;
}

.range {
  color: var(--main-pagination-text-color);
  flex: 1;
  height: 0.875rem;
  line-height: 1em;
}

.navigator {
  display: grid;
  grid-auto-flow: column;
  gap: 0 8px;

  & > span {
    border-radius: 2px;
    box-sizing: border-box;
    min-width: 14px;
    align-self: center;
    &:hover,
    &:focus {
      background-color: $shadow-color;
    }
  }
}
.arrowBlock {
  display: inline-grid;
  width: 48px;
  height: 24px;
  background: $secondary-background-color;
  grid-template-columns: 12px 12px;
  grid-column-gap: 8px;
  padding: 0 8px;
  box-sizing: border-box;
  border-radius: 4px;
}

.pageNo {
  background: $secondary-background-color;
  color: var(--main-pagination-button-text-color);
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  border-radius: 4px;

  &[data-active='true'] {
    color: var(--activity-color);
    text-decoration: none;
    font-weight: 900;
    pointer-events: none;
  }
}

.toHead,
.toEnd {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;

  svg {
    pointer-events: none;
  }

  &[data-title='first-page'],
  &[data-title='last-page'] {
    svg > path {
      fill: $enable-button-text-color;
    }

    &[data-disabled='true'] {
      pointer-events: none;
      svg > path {
        fill: $disable-button-text-color;
      }
    }
  }
  &[data-title='previous-page'],
  &[data-title='next-page'] {
    svg > path {
      stroke: $enable-button-text-color;
    }

    &[data-disabled='true'] {
      pointer-events: none;

      svg > path {
        stroke: $disable-button-text-color;
      }
    }
  }
}
.toHead {
  svg {
    transform: rotate(-180deg);
  }
}
.toEnd {
  svg {
    transform: rotate(0);
  }
}
