$primary-color: #666;
$shadow-color: rgba(0, 0, 0, 0.05);
$disable-color: #ccc;

.container {
  font-size: 0.875rem;
  display: flex;
  align-items: center;
}

.range {
  color: $primary-color;
  flex: 1;
  height: 0.875rem;
  line-height: 1em;
}

.navigator {
  color: $primary-color;
  display: grid;
  grid-auto-flow: column;
  gap: 0 8px;

  & > span {
    border-radius: 2px;
    box-sizing: border-box;
    min-width: 14px;
    align-self: center;
    &:hover,
    &:focus {
      background-color: $shadow-color;
    }
  }
}
.arrowBlock {
  display: inline-grid;
  width: 48px;
  height: 24px;
  background: rgb(255, 255, 255);
  grid-template-columns: 12px 12px;
  grid-column-gap: 8px;
  padding: 0 8px;
  box-sizing: border-box;
  border-radius: 4px;
}

.pageNo {
  background: #fff;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  border-radius: 4px;

  &[data-active='true'] {
    color: #00c891;
    text-decoration: none;
    font-weight: 900;
    pointer-events: none;
  }
}

.toHead,
.toEnd {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;

  svg {
    pointer-events: none;
  }
  &[data-disabled='true'] {
    pointer-events: none;
  }
}
.toHead {
  svg {
    transform: rotate(-180deg);
  }
}
.toEnd {
  svg {
    transform: rotate(0);
  }
}
