$activity-color: #1b73b3;

.error {
  path {
    fill: var(--error-color);
    stroke: var(--error-color);
  }
  polygon {
    fill: var(--error-color);
  }
}

.success {
  path {
    fill: var(--success-color);
    stroke: var(--success-color);
  }
  polygon {
    fill: var(--success-color);
  }
}

.activity {
  path {
    fill: $activity-color;
    stroke: $activity-color;
  }
  polygon {
    fill: $activity-color;
  }
}

@media (prefers-color-scheme: dark) {
  .addressTransform {
    & > path {
      stroke: #1e2423;
    }
  }

  .deposit {
    & > path[fill='#DCF9E3'] {
      fill: var(--primary-color);
    }

    & > path[fill='#00C891'] {
      fill: var(--secondary-background-color);
    }
  }
}
