.container {
  display: grid;
}
.header {
  display: flex;
  padding-bottom: 10px;
  & > div:first-child {
    flex: 1;
  }
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 330px);
  gap: 10px 20px;
}
