@import '../../styles/mixin.scss';

.pageHeader {
  display: flex;
  align-items: center;
  p {
    margin: 0 8px 0 5px;
  }
  .btn {
    min-width: 16px;
    width: 16px;
    padding: 0;
  }
  svg {
    g,
    path {
      fill: var(--main-text-color);
    }
  }
}

.container {
  .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 24px;

    .searchBox {
      height: 48px;
      background: var(--secondary-background-color);
      border-radius: 16px;
      display: flex;
      column-gap: 10px;
      align-items: center;
      padding: 0 16px;
      flex: 1;

      input {
        display: block;
        border: none;
        background: transparent;
        width: 100%;
        color: var(--input-second-color);
      }
    }

    .addBtn {
      @include icon-hover-button(var(--main-text-color));
      border-radius: 32px;
      font-weight: 400;
      padding: 0 18px;
      height: 48px;
      background: var(--secondary-background-color);
    }
  }
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 312px);
  gap: 16px;
  margin-top: 16px;
}

.noRecords {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 150px;
  font-size: 14px;
}

.loading {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 100px;
}
