@import "../../styles/mixin.scss";

$progress-green: #3cc68a;
$progress-yellow: #f7ae4d;
$progress-grey: #e3e3e3;
$progress-indicator-color: #000;
$progress-indicator-height: 36px;
$progress-bar-height: 18px;
$progress-indicator-offet: ($progress-bar-height - $progress-indicator-height) / 2;

.compensationPeriodDialog {
  @include dialogContainer;
  padding: 45px 73px;

  &::backdrop {
    @include overlay;
  }

}

.title {
  font-size: 1.125rem;
  font-weight: bold;
  letter-spacing: 0.9px;
  margin: 0 0 29px 0;
}

.stage,
.leftTime {
  font-size: 0.875rem;
  letter-spacing: 0.7px;
  margin: 0 0 12px 0;
}

.epochsProgress {
  display: block;
  appearance: none;
  width: 100%;
  position: relative;
  height: $progress-bar-height;

  &::-webkit-progress-bar {
    height: $progress-bar-height;
    border-radius: 2px;
    background: linear-gradient(90deg, $progress-green 0%, $progress-green 76.7%, $progress-yellow 76.7%, $progress-yellow 96.7%, $progress-grey 96.7%, $progress-grey 100%);
  }

  &::-webkit-progress-value {
    position: relative;
    background-color: transparent;
    border-right: 3px solid $progress-indicator-color;
    box-sizing: border-box;
    height: $progress-indicator-height;
    top: $progress-indicator-offet;
  }

}

.notes {
  margin: 19px 0 0 0;
  line-height: 1.4;
  font-size: 0.625rem;
  letter-spacing: 0.5px;
}

.terms {
  list-style-type: disc;
  margin: 10px 0 28px 15px;
  font-size: 0.625rem;

  li {
    padding-bottom: 5px;
  }
}

.actions {
  display: flex;
  justify-content: flex-end;

  button {
    @include dialogConfirmButton;
  }
}
