@import '../../styles/mixin.scss';

$success-color: #3cc68a;
$failed-color: #d50000;
$pending-color: #b3b3b3;

.itemContainer {
  @include regular-text;
  font-size: 0.875rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  border-radius: 6px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12);
  padding: 15px;

  &:last-of-type {
    border-bottom: none;
  }

  .summary {
    @include medium-text;
    position: relative;
    display: grid;
    grid-template:
      'avatar wallet-name amount indicator' auto
      'toggle type time indicator' auto/
      33px minmax(130px, 300px) 1fr 40px;
    grid-gap: 7px 10px;
    font-size: 0.875rem;

    time,
    span {
      pointer-events: none;
    }

    time {
      grid-area: time;
      justify-self: flex-end;
      color: #666;
    }

    .type {
      grid-area: type;
    }

    .amount {
      grid-area: amount;
      justify-self: flex-end;
      align-self: center;
      text-align: right;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .walletName {
      grid-area: wallet-name;
      font-weight: 600;
      align-self: center;
    }

    &:before {
      grid-area: toggle;
      transform: translateX(15px);
      transform-origin: 0 6px;
      transition: transform 0.3s;
      display: block;
      content: '';
      width: 0;
      height: 0;
      border: 6px solid transparent;
      border-left-color: #000;
    }
    .indicator {
      grid-area: indicator;
      align-self: center;
      justify-self: center;
      line-height: 0;
      svg {
        width: 16px;
        height: 16px;
      }
    }
    &[data-status='confirming'],
    &[data-status='pending'] {
      .indicator {
        svg {
          animation: rotation 1.2s linear infinite;
        }
      }
    }
    &[data-status='confirming'] {
      .indicator {
        g {
          fill: var(--nervos-green);
        }
      }
    }

    @keyframes rotation {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }

    .detail {
      @include regular-text;
      margin: 15px 50px 0 43px;
      display: none;
      color: #434343;
      border-top: 1px dashed #b3b3b3;
      padding-top: 15px;
      font-size: 0.875rem;

      & > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        min-height: 18px;

        & > span:first-of-type {
          @include medium-text;
        }
      }

      .txHash {
        & > div {
          display: flex;

          .hashOverflow {
            word-break: break-all;
            text-align: right;
            height: 1.625rem;
            overflow: hidden;
            text-align: right;
          }

          .ellipsis {
            display: none;
          }

          @media screen and (max-width: 1200px) {
            .hashOverflow {
              width: 40vw;
            }

            .ellipsis {
              display: inline;
            }
          }

          @media screen and (max-width: 1080px) {
            .hashOverflow {
              width: 30vw;
            }
          }
        }
      }
    }

    .description {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
    }

    .descriptionField {
      @include description-field;
      width: 100%;

      & > div {
        margin-top: 10px;
        border-top: none !important;
        border-left: none !important;
        border-right: none !important;
        border-bottom: 1px solid #aaaaaa !important;
        padding-bottom: 3px;
        width: 100%;
      }

      input {
        font-size: 0.875rem;
        padding: 0;
        border: none;
        color: #434343;

        &:not(:focus)::-webkit-input-placeholder {
          font-size: 0.75rem;
        }
      }
    }
  }

  &[data-is-open='true'] {
    .summary:before {
      transform: translateX(15px) rotate(90deg);
    }
    padding-bottom: 0;

    .detail {
      display: block;
    }
  }
}

.footer {
  display: flex;
  justify-content: flex-end !important;
  @mixin nav-button {
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-size: 12px;
    color: #fff;
    border: none;
    border-radius: 15px;
    transition: all 0.2s;
    margin-left: 10px;

    span {
      display: none;
    }

    i,
    svg {
      display: flex;
    }

    &:hover {
      width: 100px;
      border-radius: 2px;

      span {
        display: flex;
      }

      i,
      svg {
        display: none;
      }
    }
  }

  .explorerNavButton {
    @include nav-button;
    background: rgba(60, 198, 138, 0.8);
  }

  .detailNavButton {
    @include nav-button;
    background: #5353c9;
    svg {
      height: 16px;
    }
  }
}
