@import '../../styles/mixin.scss';

$success-color: #3cc68a;
$failed-color: #d50000;
$pending-color: #b3b3b3;

.itemContainer {
  @include RegularText;
  font-size: 0.875rem;
  letter-spacing: 0.7px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #b3b3b3;

  &:last-of-type {
    border-bottom: none;
  }

  .summary {
    @include MediumText;
    position: relative;
    display: grid;
    grid-template: 'time status' auto 'amount confirmations' auto/ 1fr 130px;
    justify-items: start;
    grid-gap: 3px;
    padding: 15px 0 15px 33px;

    time,
    span {
      pointer-events: none;
    }

    time {
      grid-area: time;
    }

    .status {
      grid-area: status;
      text-align: right;
    }

    .amount {
      grid-area: amount;
      color: var(--nervos-green);
    }

    .confirmations {
      grid-area: confirmations;
      text-align: right;
      font-size: 0.625rem;
      color: #434343;
      letter-spacing: 0.5px;
    }

    &:before {
      position: absolute;
      top: 50%;
      left: 13px;
      transform: translateY(-50%);
      transform-origin: 0 5px;
      transition: transform 0.3s;
      display: block;
      content: '';
      width: 0;
      height: 0;
      border: 5px solid transparent;
      border-left-color: #000;
    }

    &:after {
      position: absolute;
      top: calc(15px + 0.4375rem);
      right: 0;
      display: block;
      content: '';
      width: 8px;
      height: 8px;
      border-radius: 50%;
    }

    &[data-status='confirming'],
    &[data-status='pending'] {
      &:after {
        background-color: $pending-color;
      }
    }

    &[data-status='success']:after {
      background-color: $success-color;
    }

    &[data-status='failed']:after {
      background-color: $failed-color;
    }
  }

  .detail {
    padding: 0 33px;
    display: none;
    color: #434343;

    & > div {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;

      & > span:first-of-type {
        @include MediumText;
      }
    }

    .txHash {
      & > div {
        display: flex;

        .hashOverflow {
          word-break: break-all;
          text-align: right;
          height: 1rem;
          overflow: hidden;
          text-align: right;
        }

        .ellipsis {
          display: none;
        }

        @media screen and (max-width: 1200px) {
          .hashOverflow {
            width: 40vw;
          }

          .ellipsis {
            display: inline;
          }
        }

        @media screen and (max-width: 1080px) {
          .hashOverflow {
            width: 30vw;
          }
        }
      }
    }

    .description {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
    }

    .descriptionField {
      @include descriptionField;
      width: 100%;

      & > div {
        margin-top: 10px;
        border-top: none !important;
        border-left: none !important;
        border-right: none !important;
        border-bottom: 1px solid #aaaaaa !important;
        padding-bottom: 3px;
        width: 100%;
      }

      input {
        font-size: 0.875rem;
        padding: 0;
        border: none;
        color: #434343;

        &:not(:focus)::-webkit-input-placeholder {
          font-size: 0.75rem;
        }
      }
    }
  }

  &[data-is-open='true'] {
    .summary:before {
      transform: translateY(-50%) rotate(90deg);
    }

    .detail {
      display: block;
    }
  }
}

.footer {
  display: flex;
  justify-content: flex-end !important;
  @mixin navButton {
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-size: 12px;
    color: #fff;
    border: none;
    border-radius: 15px;
    transition: all 0.2s;
    margin-left: 10px;

    span {
      display: none;
    }

    i,
    svg {
      display: flex;
    }

    &:hover {
      width: 100px;
      border-radius: 2px;

      span {
        display: flex;
      }

      i,
      svg {
        display: none;
      }
    }
  }
  .explorerNavButton {
    @include navButton;
    background: rgba(60, 198, 138, 0.8);
  }
  .detailNavButton {
    @include navButton;
    background: #5353c9;
    svg {
      height: 16px;
    }
  }
}
