@import '../../styles';
$textfieldWidth: calc(100vw - 370px);

.container {
  position: relative;
  background: var(--secondary-background-color);
  padding: 20px 16px 18px;
  border-radius: 16px;
  margin-bottom: 16px;

  .remove-label {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--secondary-text-color);
    font-size: px(14);
    .remove-btn {
      height: px(16) !important;
      width: px(16);
      min-width: 0;
      cursor: pointer;
      background: url('../../widgets/Icons/Delete.svg');
      &:hover {
        background: url('../../widgets/Icons/DeleteHover.svg');
      }
    }
  }

  button[aria-label='qr-btn'] {
    display: none;
    position: relative;
    padding-top: 10px;
    grid-area: scanner;

    &:hover {
      &:after {
        content: attr(data-title);
        position: absolute;
        bottom: -20px;
        right: -45px;
        font-size: 0.875rem;
        color: #000;
        box-shadow: 1px 2px 6px 0 rgba(97, 97, 97, 0.5);
        background: #fff;
        white-space: nowrap;
        padding: 5px 16px;
        z-index: 1;
      }
    }
  }

  .max {
    border-left: var(--divide-line-color) solid 1px;
    min-width: 20px;
    border-radius: 0;
    height: 24px;
    padding: 0 16px;
    margin-top: 16px;
  }

}

.locktime {
  grid-area: locktime;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;

  p {
    margin: 0 4px 0 8px;
    color: var(--primary-color);
  }

  .content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .locktimeWarn {
    padding: 4px 16px;
    background-color: var(--notice-background-color);
    color: var(--notice-text-color);
    margin-top: 4px;
    font-size: px(12);
    line-height: px(24);
    font-weight: 500;
    border: 1px solid rgba(252, 136, 0, 0.2);
    border-radius: 4px;

    & > svg {
      width: 16px;
      height: 16px;
      margin-right: 4px;
      transform: translateY(20%);
    }
  }

  .icon {
    height: 15px;
    width: 15px;
    pointer-events: none;

    &[alt$='calendar'] {
      margin-right: 6px;
    }

    &[data-status='active'] {
      display: none;
    }
  }

  button {
    @include regular-text;
    color: var(--primary-color);
    appearance: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    font-size: px(14) !important;
    background-color: transparent;
    border: none;

    &:hover {
      img[data-status='inactive'] {
        display: none;
      }

      img[data-status='active'] {
        display: block;
      }
    }
  }
}