@import '../../styles';
$textfieldWidth: calc(100vw - 370px);

.container {
  position: relative;
  background: var(--secondary-background-color);
  padding: 20px 16px 18px;
  border-radius: 16px;
  margin-bottom: 16px;

  .removeLabel {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--secondary-text-color);
    font-size: 14px;
    .removeBtn {
      height: 16px !important;
      min-width: 0;
      cursor: pointer;
      &:hover {
        svg {
          g,
          path {
            fill: var(--error-color);
          }
        }
      }
    }
  }

  .addresstField {
    font-family: 'JetBrains Mono';
  }

  button[aria-label='qr-btn'] {
    display: none;
    position: relative;
    padding-top: 10px;
    grid-area: scanner;

    &:hover {
      &:after {
        content: attr(data-title);
        position: absolute;
        bottom: -20px;
        right: -45px;
        font-size: 0.875rem;
        color: #000;
        box-shadow: 1px 2px 6px 0 rgba(97, 97, 97, 0.5);
        background: #fff;
        white-space: nowrap;
        padding: 5px 16px;
        z-index: 1;
      }
    }
  }

  .max {
    border-left: var(--divide-line-color) solid 1px;
    min-width: 20px;
    border-radius: 0;
    height: 24px;
    padding: 0 16px;
    margin-top: 16px;
  }
}

.locktime {
  grid-area: locktime;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;

  p {
    margin: 0 4px 0 0;
    color: var(--primary-color);
  }

  .content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .locktimeWarn {
    padding: 4px 16px;
    background-color: var(--warn-background-color);
    color: var(--notice-text-color);
    margin-top: 10px;
    font-size: 12px;
    line-height: 24px;
    font-weight: 500;
    border: 1px solid rgba(252, 136, 0, 0.2);
    border-radius: 4px;

    & > svg {
      width: 16px;
      height: 16px;
      margin-right: 4px;
      transform: translateY(20%);
    }
  }

  .icon {
    height: 15px;
    width: 15px;
    pointer-events: none;

    &[alt$='calendar'] {
      margin-right: 6px;
    }
  }

  button {
    @include regular-text;
    color: var(--primary-color);
    appearance: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    font-size: 14px !important;
    background-color: transparent;
    border: none;
    cursor: pointer;

    &:hover {
      svg {
        g,
        path {
          fill: var(--error-color);
        }
      }
    }
  }
}
.textFieldClass{
  margin-bottom: 10px;
}
