@import '../../styles//mixin.scss';

.dialog {
  @include dialogContainer;
  padding: 49px 73px;

  &::backdrop {
    @include overlay;
  }
}

.footer {
  @include dialogFooter;

  button:last-of-type {
    margin-left: 9px;
  }
}

.title {
  font-size: 1.125rem;
  line-height: 1.375rem;
  font-weight: bold;
  letter-spacing: 0.9px;
  margin-bottom: 23px;
}
