@import '../../styles/mixin.scss';

.content {
  width: 648px;
  padding: 16px 16px 0;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin: 24px 0 10px;

  & > button {
    gap: 4px;
    width: 160px;
    height: 1em;
    padding: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }

  .divider {
    width: 1px;
    height: 16px;
    background: var(--divide-line-color);
  }

  .signAndExportFromGenerateTx {
    &[disabled] {
      color: var(--button-cancel-color);

      > svg {
        g,
        path {
          fill: currentColor;
        }
      }
    }
  }
}

.walletName {
  line-height: 20px;
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 14px;
}

.passwordInput {
  margin-top: 16px;
}

.xpubNotice {
  padding: 4px 8px;
  background-color: rgb(255, 244, 206);
  color: rgb(50, 49, 48);
  margin-top: 4px;

  & > svg {
    width: 14px;
    height: 14px;
    margin-right: 4px;
    transform: translateY(20%);
  }
}
