@import '../../styles//mixin.scss';

.dialog {
  @include DialogContainer;
  padding: 49px 73px;

  &::backdrop {
    @include Overlay;
  }
}

.footer {
  @include DialogFooter;

  button:last-of-type {
    margin-left: 9px;
  }
}

.title {
  font-size: 1.125rem;
  line-height: 1.375rem;
  font-weight: bold;
  letter-spacing: 0.9px;
  margin: 0;

  &:after {
    display: inline;
    content: ':';
  }
}

.walletName {
  @include BoldText;
  color: var(--nervos-green);
}

.passwordInput {
  margin-top: 23px;
}
