.root {
  position: relative;
  font-size: 0.75rem;

  --active-color: #00c891;

  .control {
    font-family: inherit;
    grid-area: input;
    color: var(--main-text-color);
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    box-sizing: border-box;
    height: 56px;
    border: 1px solid var(--divide-line-color);
    border-radius: 8px;

    &[data-has-error='true'] {
      border-color: var(--error-color) !important;
    }

    .placeholder {
      font-family: 'JetBrains Mono';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
    }

    & > input {
      border: none;
      width: 100%;
      padding: 4px 0 4px 12px;
      background: unset;
      caret-color: var(--active-color);
      color: var(--main-text-color);
      &::placeholder {
        color: var(--input-second-color);
      }
    }
  }

  .menu {
    background-color: var(--third-background-color);
    border: 1px solid var(--input-border-color);
    box-shadow: 0px 1px 4px 0px var(--main-shadow-color);
    box-sizing: border-box;
    border-top: none;
    overflow-y: auto;
    position: absolute;
    width: 100%;
    z-index: 1000;
    -webkit-overflow-scrolling: touch;

    top: calc(100% + 8px);
    max-height: 170px;
    border-radius: 8px;
  }

  .option {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    color: var(--main-text-color);
    margin: 0 16px;
    padding: 19px 0px;
    border-bottom: 1px solid var(--input-border-color);
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;

    &:last-child {
      border: unset;
      border-bottom-right-radius: 2px;
      border-bottom-left-radius: 2px;
    }

    &.is-select,
    &:hover,
    &[aria-selected='true'] {
      background-color: inherit;
      color: var(--active-color);
    }
  }

  .arrow {
    transition: transform 0.3s;
    padding: 0 16px;
    line-height: 56px;
    height: 56px;
  }

  .isOpen .arrow {
    transform: rotate(180deg);

    path {
      stroke: var(--active-color);
    }
  }
}
