.root {
  position: relative;
  font-size: 0.75rem;
}


.control {
  font-family: inherit;
  grid-area: input;
  color: #434343;
  border: solid 1px#000000;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  box-sizing: border-box;
  height: 32px;

  &[data-open="true"] {
    border: 1px solid #000;
  }

  &:hover {
    border: 1px solid #000;
  }

  & > input {
    border: none;
    width: 100%;
    padding: 4.5px 10px;
  }
}

.arrow {
  border-color: #999 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0;
  content: ' ';
  display: block;
  height: 0;
  margin-top: -ceil(2.5);
  position: absolute;
  right: 10px;
  top: 14px;
  width: 0
}

.is-open .arrow {
  border-color: transparent transparent #999;
  border-width: 0 5px 5px;
}

.menu {
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  border-top: none;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1000;
  -webkit-overflow-scrolling: touch;
}

.menu .group > .title{
  padding: 8px 10px;
  color: rgba(51, 51, 51, 1);
  font-weight: bold;
  text-transform: capitalize;
}

.option {
  box-sizing: border-box;
  color: rgba(51, 51, 51, 0.8);
  cursor: pointer;
  display: block;
  padding: 8px 10px;

  &[aria-selected="true"] {
    background-color: #ccc;
  }

  &.is-select {
    background-color: #eee;
  }

  &:last-child {
    border-bottom-right-radius: 2px;
     border-bottom-left-radius: 2px;
  }

  &:hover {
    background-color: #eee;
    color: #333;
  }
}

.noresults {
  box-sizing: border-box;
  color: #ccc;
  cursor: default;
  display: block;
  padding: 8px 10px;
}
