@import '../../styles/mixin.scss';
$column-gap: 15px;

.container {
  display: grid;
  grid-template:
    'token-name type time amount actions explorer' 50px /
    minmax(100px, 200px) 50px 100px auto auto 24px;
  border-bottom: 1px solid #ccc;
  align-items: center;
  gap: $column-gap;

  .tokenName {
    grid-area: token-name;
    padding-left: $column-gap;
    display: flex;
    flex-direction: column;
    span {
      @include text-overflow-ellipsis;
    }
  }

  .type {
    grid-area: type;
  }
  .amount {
    @include text-overflow-ellipsis;
    grid-area: amount;
  }

  time {
    grid-area: time;
  }

  .actions {
    grid-area: actions;
    display: grid;
    grid-auto-flow: column;
    gap: 5px;
    button {
      text-transform: capitalize;
    }
  }

  .explorerNavButton {
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 3px;
    background: transparent;
    padding-right: $column-gap;

    i,
    svg {
      display: flex;
      stroke: #ccc;
      fill: #ccc;
    }
  }
}
