@import '../../styles/mixin.scss';
$column-gap: 10px;

.container {
  display: grid;
  grid-template:
    'token-name type time amount actions explorer' 50px /
    90px 40px 80px 1fr 170px 34px;
  border-bottom: 1px solid #ccc;
  align-items: center;
  gap: $column-gap;
  font-size: 0.75rem;

  .tokenName {
    grid-area: token-name;
    padding-left: $column-gap;
    display: flex;
    flex-direction: column;
    span {
      @include text-overflow-ellipsis;
    }
    .setup {
      display: flex;
      appearance: none;
      padding: 0;
      margin: 0;
      background: none;
      border: none;
      color: #666;
      text-decoration: underline;
      letter-spacing: normal;
    }
  }

  .type {
    grid-area: type;
    svg {
      width: 19px;
      height: 19px;
    }
  }
  .amount {
    @include text-overflow-ellipsis;
    grid-area: amount;
  }

  time {
    grid-area: time;
  }

  .actions {
    grid-area: actions;
    display: grid;
    grid-auto-flow: column;
    gap: 5px;
    button {
      text-transform: capitalize;
      padding: 4px 7px;
    }
  }

  .explorerNavButton {
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding-left: 20px;
    background: transparent;
    padding-right: $column-gap;

    i,
    svg {
      display: flex;
      stroke: #ccc;
      fill: #ccc;
    }
  }
}
