@import '../../styles/mixin.scss';
$button-gap: 10px;
$line-gap: 15px;

@mixin center {
  position: absolute;
  top: 0;
  left: 30px;
  right: 30px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 55px 140px;

  & > * {
    flex-shrink: 0;
  }

  .banner {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .dividingLine {
    width: 376px;
    font-size: 14px;
    border: none;
    border-top: 1px solid var(--divide-line-color);
    text-align: center;
    overflow: visible;

    &:after {
      background: var(--main-background-color);
      color: #999;
      content: attr(data-content);
      padding: 0 4px;
      position: relative;
      top: -10px;
    }
  }

  .slogan {
    font-size: 20px;
    padding: 16px 0 26px 0;
    font-weight: 500;
    color: var(--main-text-color);
  }

  .actions {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    button {
      margin: 10px 40px;
    }

    span {
      margin: 10px 0;
    }
  }

  button {
    width: 376px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
  }
}

.mnemonic {
  text-align: center;
  padding-top: 96px;

  .text {
    @include header-title;
    margin: 0px 0 6px 0;
  }
  .actions {
    @include form-footer;
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.submission {
  padding-top: 96px;
  
  .title {
    @include header-title;
    margin-bottom: 16px;
  }
  
  .input {
    width: 500px;
    margin: 0 auto;
  }

  .inputNotice {
    margin: 12px auto;
    width: 500px;

    & > li {
      margin-bottom: 8px;
    }
  }

  .chars {
    font-size: 10px;
  }

  .actions {
    @include form-footer;
    &.createWallet {
      margin-top: 34px;
    }
  }
}

.hint {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: var(--secondary-text-color);
  margin-bottom: 40px;
  & > a {
    color: var(--link-color);
    text-decoration: none;
  }
}

.steps {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  bottom: 36px;

  & > .step {
    width: 136px;
    height: 4px;
    margin-right: 12px;
    background: var(--step-no-activity-color);
    border-radius: 2px;

    &.activity {
      background: var(--activity-color);
    }
  }
}

.loadingCreateDialog {
  @include dialog-container;
  text-align: center;
  color: var(--main-text-color);
  width: 360px;
  height: 180px;
  font-weight: 500;
  font-size: 16px;

  &[open] {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  & > svg {
    margin-bottom: 24px;
    animation: rotating 3s linear infinite;
  }
}