:root {
  --nervos-green: #3cc68a;
  --nervos-green-light: #31a572; // most recent color to nervos green that pairs with white background

  --avtive-color: #00c891;
  --tooltip-background-color: rgba(0, 0, 0, 0.8);
  --tooltip-font-color: #ffffff;
}
