@import './layout.scss';
@import './color.scss';

* {
  user-select: none;
  outline: none !important;
  -webkit-tap-highlight-color: none !important;
  cursor: default !important;
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: none !important;
}

ul {
  list-style: none;
  padding: 0;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

navbar {
  border-bottom: solid 1px #ccc;
}

.main-content {
  background-color: white;
}

.label {
  padding: 3px 4px;
  font-size: 12px;
  font-weight: 600;
  line-height: 1;
  color: #fff;
  border-radius: 2px;
  box-shadow: inset 0 -1px 0 rgba(27, 31, 35, .12);
  text-transform: capitalize;

  &.primary {
    background-color: #6f42c1;
  }

  &.secondary {
    background-color: #009688;
  }

  &.third {
    background-color: #78909C;
  }
}

.form-control,
.btn {
  &:focus {
    box-shadow: none !important;
  }
}

.monospacedFont {
  font-family: monospace;
}

.ms-DetailsHeader-cell:hover {
  background-color: inherit
}

.listNoHover {
  .ms-DetailsRow {
    &:hover {
      background-color: inherit;
    }
  }
}

.listWithDesc {
  .ms-DetailsRow-cell {
    display: flex;
    align-items: center;

    .editButton {
      position: absolute;
      right: 0;
      justify-content: center;
      align-items: center;
      display: none;
      background-color: transparent;
    }

    &:hover {
      .editButton {
        display: flex;
      }
    }
  }


}

.textOverflow {
  overflow: hidden;
  text-overflow: ellipsis;
}

// hack fabric ui experimental pagination style
.ms-Pagination-container {
  position: relative;

  &>div:last-child {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  button[aria-selected=false] {
    color: #0078d4 !important;
    text-decoration: underline;
  }

  button[aria-selected=true] {
    color: rgb(96, 94, 92) !important;
    text-decoration: none !important;
  }
}

@keyframes rotate360 {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
