@import './layout.scss';
@import './color.scss';
@import './mixin.scss';

* {
  outline: none !important;
  -webkit-tap-highlight-color: none !important;
  cursor: default !important;
}

[type='button'],
[type='reset'],
[type='submit'],
button {
  -webkit-appearance: none !important;
}

ul {
  list-style: none;
  padding: 0;
}

html {
  height: 100%;
}

body {
  @include RegularText;
  margin: 0;
  padding: 0;
  background: #f8f8f8;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.label {
  padding: 3px 4px;
  font-size: 12px;
  font-weight: 600;
  line-height: 1;
  color: #fff;
  border-radius: 2px;
  box-shadow: inset 0 -1px 0 rgba(27, 31, 35, 0.12);
  text-transform: capitalize;

  &.primary {
    background-color: #6f42c1;
  }

  &.secondary {
    background-color: #009688;
  }

  &.third {
    background-color: #78909c;
  }
}

.form-control,
.btn {
  &:focus {
    box-shadow: none !important;
  }
}

.ms-DetailsHeader-cell:hover {
  background-color: inherit;
}

.listNoHover {
  .ms-DetailsRow {
    &:hover {
      background-color: inherit;
    }
  }
}

.listWithDesc {
  .ms-DetailsRow-cell {
    display: flex;
    align-items: center;

    .editButton {
      position: absolute;
      right: 0;
      justify-content: center;
      align-items: center;
      display: none;
      background-color: transparent;

      span {
        pointer-events: none;
      }
    }

    &:hover {
      .editButton {
        display: flex;
      }
    }
  }
}

.textOverflow {
  word-break: keep-all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// hack fabric toggle
.ms-Toggle {
  label {
    color: #000 !important;
  }
}

.ms-Toggle.is-checked .ms-Toggle-background {
  background: var(--nervos-green) !important;
}

// hack fabric dropdown
.ms-Dropdown-title {
  border-color: #000 !important;
}
.ms-Dropdown-item {
  color: #000 !important;
}
.ms-Dropdown-container {
  label {
    font-size: 0.875rem !important;
    color: #000 !important;
  }
}

// hack search field
.ms-SearchBox {
  height: 26px;
  input {
    font-size: 0.75rem;
  }
}
.ms-SearchBox.is-active,
.ms-TextField.is-active {
  border-color: var(--nervos-green) !important;

  .ms-TextField-fieldGroup {
    border-color: var(--nervos-green) !important;
  }
}

.ms-SearchBox-iconContainer {
  color: var(--nervos-green);
}

// hack fabric pivot
.ms-Pivot-link.is-selected:before {
  background-color: var(--nervos-green);
}

// hack fabric choice field
.ms-ChoiceField-field.is-checked {
  &::before,
  &::after {
    border-color: var(--nervos-green);
  }
}

// hack fabric slider
.ms-Slider-active {
  background: var(--nervos-green) !important;
  filter: brightness(0.9);
}

.ms-Slider-inactive {
  background: rgb(200, 198, 196) !important;
}

.ms-Slider-thumb {
  background: var(--nervos-green) !important;
  border: none !important;
  top: -4px;
  width: 12px;
  height: 12px;
  z-index: 1;

  &:hover {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
  }
}

// hack fabric ui experimental pagination style
.ms-Pagination-container {
  position: relative;
  flex-direction: row-reverse;
  justify-content: space-between;

  button[aria-selected='false'] {
    color: #0078d4 !important;
    text-decoration: underline;
  }

  button[aria-selected='true'] {
    color: rgb(96, 94, 92) !important;
    text-decoration: none !important;
  }
}

@keyframes rotate360 {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
