@import './layout.scss';
* {
  user-select: none;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: #f9f9f9;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sidebar {
  background-color: white;
}
