body {
  display: grid;
  grid-template:
    'header header header' 60px
    'navbar navbar navbar' 60px
    'notification notification notification' auto
    'content content content' 1fr
    'content content content' 1fr 
    'footer  footer  footer' 50px /
    1fr 1fr 1fr;

  height: 100vh;
}

footer {
  grid-area: footer;
  display:flex;
  justify-content: space-between
}

.header {
  grid-area: header;
}

.navbar {
  grid-area: navbar;
  display:flex;
  justify-content: flex-start;
}

.main-content {
  grid-area: content;
  overflow: auto;
}

.notification {
  grid-area: notification;
  z-index: 1;
}

.dialog{
  grid-area: 1/1/5/5;
  dialog {
    margin: 0;
    padding: 0;
    border: none;
    pointer-events: auto;
  }
  pointer-events: none;
}
