body {
  display: grid;
  grid-template: 
    'sidebar header header header' 60px 
    'sidebar content content content' 1fr 
    'sidebar content content content' 1fr / 
    240px 1fr 1fr 240px;
  column-gap: 40px;

  height: 100vh;
}

.sidebar {
  grid-area: sidebar;
}

.header {
  grid-area: header;
}

.main-content {
  grid-area: content;
  overflow: auto;
}

.notification {
  grid-area: 2/4/3/5;
}
