:root {
  --sidebar-width: 200px;
}

body {
  display: grid;
  grid-template:
    'navbar notification notification notification' auto
    'navbar content content content' 1fr
    'navbar content content content' 1fr /
    auto 1fr 1fr 1fr;

  height: 100vh;
  font-size: 16px;
}

footer {
  grid-area: footer;
}

.navbar {
  grid-area: navbar;
}

.main-content {
  grid-area: content;
  overflow: auto;
  padding: 30px 30px;
}

.notification {
  grid-area: notification;
  z-index: 1;
}

.dialog {
  grid-area: 1/1/5/5;
  dialog {
    margin: 0;
    padding: 0;
    border: none;
    pointer-events: auto;
  }
  pointer-events: none;
}
