// font
@mixin bold-text {
  font-family: 'SourceCodePro-Regular', 'SourceHanSansCN-Regular', monospace;
  font-weight: 900;
}

@mixin semi-bold-text {
  font-family: 'SourceCodePro-Regular', 'SourceHanSansCN-Regular', monospace;
  font-weight: 700;
}

@mixin medium-text {
  font-family: 'SourceCodePro-Regular', 'SourceHanSansCN-Regular', monospace;
  font-weight: 500;
}

@mixin regular-text {
  font-family: 'SourceCodePro-Regular', 'SourceHanSansCN-Regular', monospace;
  font-weight: 400;
}

// layout
@mixin dialog-container {
  border: none;
  border-radius: 16px;
  background-color: var(--secondary-background-color);
  min-width: 450px;
  max-width: 80vw;
  box-sizing: border-box;
}

@mixin dialog-title {
  @include bold-text;
  font-size: 1.125rem;
  letter-spacing: 0.9px;
  margin-bottom: 25px;
}

@mixin dialog-footer {
  display: flex;
  justify-content: center;
}

@mixin dialog-confirm-button {
  border: none;
  min-width: 5.125rem;
  height: 1.875rem;
  background-color: var(--nervos-green);
  color: #fff;
  font-size: 0.75rem;
  letter-spacing: 0.6px;

  &:hover {
    background-color: #21b574;
  }
}

@mixin overlay {
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(1px);
}

@mixin disabled-button {
  background-color: #e3e3e3;
  color: #666;
}

@mixin form-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 104px;

  button {
    width: 376px;

    &:first-of-type {
      margin-bottom: 8px;
    }
  }
}

@mixin description-field {
  display: flex;

  & > div {
    border-color: transparent !important;

    input::-webkit-input-placeholder {
      color: #b3b3b3;
      font-size: 0.75rem;
    }
  }

  &:hover > div {
    border-color: #b3b3b3 !important;
  }

  &:focus-within > div {
    border-color: #333 !important;
  }
}

@mixin page-title {
  @include semi-bold-text;
  font-size: 1.375rem;
  color: #000;
  padding: 0;
  margin: 0 0 15px 0;
}

@mixin text-overflow-ellipsis {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin tooltip {
  position: relative;
  pointer-events: initial !important;

  &::after {
    display: none;
    position: absolute;
    left: -20px;
    top: 120%;
    content: attr(data-tooltip);
    padding: 4px 12px;
    border-radius: 6px;
    background: #cccccc;
    font-weight: 300;
    max-width: 600px;
    word-wrap: break-word;
    white-space: normal;
    z-index: 100;
  }

  &:hover::after {
    display: block;
  }
}
@mixin header-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  color: var(--main-text-color);
}

@mixin card {
  background: var(--secondary-background-color);
  border-radius: 16px;
}

@mixin icon-hover-button(
  $normalColor: var(--secondary-text-color),
  $hoverColor: var(--primary-color)
) {
  border: none;
  background: transparent;
  color: $normalColor !important;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  svg {
    margin-right: 4px;
    g,
    path {
      fill: $normalColor;
    }
  }
  &:hover {
    color: $hoverColor !important;
    svg {
      g,
      path {
        fill: $hoverColor;
      }
    }
  }
}

@mixin checkbox {
  input[type='checkbox'] {
    display: none;
  }
  input[type='checkbox'] + span {
    padding-left: 30px;
    line-height: 22px;
    background: url('../widgets/Icons/Checkbox.svg') no-repeat left top;
    user-select: none;
  }
  input[type='checkbox']:checked + span {
    background: url('../widgets/Icons/CheckboxSelected.svg') no-repeat left top;
  }

  input[type='checkbox']:disabled:checked + span {
    background: url('../widgets/Icons/CheckboxSelected.svg') no-repeat left top;
    opacity: 0.5;
  }
  input[type='checkbox']:disabled + span {
    background: url('../widgets/Icons/CheckboxDisabled.svg') no-repeat left top;

    @media (prefers-color-scheme: dark) {
      background: url('../widgets/Icons/CheckboxDisabledDark.svg') no-repeat
        left top;
    }
  }
}
