// font
@mixin bold-text {
  font-family: 'SourceCodePro-Regular', 'SourceHanSansCN-Regular', monospace;
  font-weight: 900;
}

@mixin semi-bold-text {
  font-family: 'SourceCodePro-Regular', 'SourceHanSansCN-Regular', monospace;
  font-weight: 700;
}

@mixin medium-text {
  font-family: 'SourceCodePro-Regular', 'SourceHanSansCN-Regular', monospace;
  font-weight: 500;
}

@mixin regular-text {
  font-family: 'SourceCodePro-Regular', 'SourceHanSansCN-Regular', monospace;
  font-weight: 400;
}

// layout
@mixin dialog-container {
  border: none;
  border-radius: 2px;
  box-shadow: 4px 7px 10px 0 rgba(0, 0, 0, 0.22);
  min-width: 500px;
  max-width: 650px;
  box-sizing: border-box;
}

@mixin dialog-title {
  @include bold-text;
  font-size: 1.125rem;
  letter-spacing: 0.9px;
  margin-bottom: 25px;
}

@mixin dialog-footer {
  display: flex;
  justify-content: flex-end;
}

@mixin dialog-confirm-button {
  border: none;
  width: 5.125rem;
  height: 1.875rem;
  background-color: var(--nervos-green);
  color: #fff;
  font-size: 0.75rem;
  letter-spacing: 0.6px;

  &:hover {
    background-color: #21b574;
  }
}

@mixin overlay {
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(1px);
}

@mixin disabled-button {
  background-color: #e3e3e3;
  color: #666;
}

@mixin form-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 15px;

  button {
    margin-left: 10px;

    &:first-of-type {
      margin-left: 0;
    }
  }
}

@mixin description-field {
  display: flex;

  & > div {
    border-color: transparent !important;

    input::-webkit-input-placeholder {
      color: #b3b3b3;
      font-size: 0.75rem;
    }
  }

  &:hover > div {
    border-color: #b3b3b3 !important;
  }

  &:focus-within > div {
    border-color: #333 !important;
  }
}

@mixin page-title {
  @include semi-bold-text;
  font-size: 1.375rem;
  color: #000;
  padding: 0;
  margin: 0 0 23px 0;
}
