body {
  --primary-color: #00c891;
  --primary-text-color: #ffffff;
  --main-background-color: #e6f3f3;
  --secondary-background-color: #ffffff;
  --main-text-color: #333333;
  --secondary-text-color: #8da394;
  --link-color: #00c891;
  --notice-background-color: #fff6eb;
  --notice-text-color: #f78c2a;
  --border-color: #666666;
  --input-border-color: #f0f0f0;
  --divide-line-color: #e5e5e5;
  --step-no-activity-color: #e5e5e5;
  --activity-color: #00c891;
  --success-color: #00c891;
  --error-color: #ff1e1e;
  --input-disabled-color: #fafafa;
  --input-button-color: #999999;
  --button-cancel-color: #999999;
  --svg-color: #666666;
  --dialog-secondary-text-color: #666666;
  --disable-button-text-color: #cccccc;
  --enable-button-text-color: #333333;
  --main-pagination-button-text-color: #666666;
  --main-pagination-text-color: #666666;

  @media (prefers-color-scheme: dark) {
    --primary-color: #00c891;
    --primary-text-color: #232323;
    --main-background-color: #111614;
    --secondary-background-color: #1e2423;
    --main-text-color: #ffffff;
    --secondary-text-color: #8da394;
    --link-color: #00c891;
    --notice-background-color: rgba(255, 140, 0, 0.2);
    --notice-text-color: #f78c2a;
    --border-color: #343e3c;
    --input-border-color: #343e3c;
    --divide-line-color: rgba(240, 240, 240, 0.2);
    --step-no-activity-color: #666666;
    --activity-color: #00c891;
    --success-color: #00c891;
    --error-color: #ff1e1e;
    --input-disabled-color: #171b1a;
    --input-button-color: #ffffff;
    --button-cancel-color: #ffffff;
    --svg-color: #ffffff;
    --dialog-secondary-text-color: #ffffff;
    --disable-button-text-color: #666666;
    --enable-button-text-color: #ffffff;
    --main-pagination-button-text-color: #cccccc;
    --main-pagination-text-color: #999999;
  }
}
