$main-color: #00C891;

body {
  --primary-color: #{$main-color};
  --primary-text-color: #FFFFFF;
  --main-background-color: #E6F3F3;
  --secondary-background-color: #FFFFFF;
  --third-background-color: #FFFFFF;
  --main-text-color: #333333;
  --secondary-text-color: #8DA394;
  --link-color: #{$main-color};
  --notice-background-color: #D4F8E9;
  --notice-text-color: #FF9737;
  --border-color: #999999;
  --input-border-color: #F0F0F0;
  --input-hint-color: #666666;
  --divide-line-color: #E5E5E5;
  --step-no-activity-color: #E5E5E5;
  --activity-color: #{$main-color};
  --success-color: #{$main-color};
  --error-color: #FF1E1E;
  --input-disabled-color: #FAFAFA;
  --input-second-color: #999999;
  --input-button-color: #999999;
  --button-cancel-color: #999999;
  --svg-color: #666666;
  --dialog-secondary-text-color: #666666;
  --disable-button-text-color: #CCCCCC;
  --enable-button-text-color: #333333;
  --main-pagination-button-text-color: #666666;
  --main-pagination-text-color: #666666;
  --warn-background-color: #FFF6EB;
  --svg-fill-color: #FFFFFF;
  // table
  --table-head-background-color: #FAFAFA;
  --table-head-border-color: #F0F0F0;
  --hover-background-color: #F5F9F4;
  --tooltip-hover-background-color: #F5F9F4;

  --process-background-color: #F0F0F0;

  @media (prefers-color-scheme: dark) {
    --primary-color: #{$main-color};
    --primary-text-color: #232323;
    --main-background-color: #111614;
    --secondary-background-color: #1E2423;
    --main-text-color: #FFFFFF;
    --secondary-text-color: #8DA394;
    --link-color: #{$main-color};
    --third-background-color: #2D3534;
    --notice-background-color: #093F29;
    --notice-text-color: #F78C2A;
    --border-color: #343E3C;
    --input-border-color: #343E3C;
    --input-hint-color: #FFFFFF;
    --divide-line-color: rgba(240, 240, 240, 0.2);
    --step-no-activity-color: #666666;
    --activity-color: #{$main-color};
    --success-color: #{$main-color};
    --error-color: #FF1E1E;
    --input-disabled-color: #171B1A;
    --input-second-color: #999999;
    --input-button-color: #FFFFFF;
    --button-cancel-color: #999999;
    --svg-color: #FFFFFF;
    --dialog-secondary-text-color: #999999;
    --disable-button-text-color: #666666;
    --enable-button-text-color: #FFFFFF;
    --main-pagination-button-text-color: #CCCCCC;
    --main-pagination-text-color: #999999;
    --warn-background-color: rgba(255, 140, 0, 0.2);
    --svg-fill-color: #333333;
    // table
    --table-head-background-color: #171B1A;
    --table-head-border-color: #282E2D;
    --hover-background-color: #2D3534;
    --tooltip-hover-background-color: rgba(255, 255, 255, 0.2);

    --process-background-color: #282E2D;
  }
}
