@import '../../styles/mixin.scss';

.dialogContainer {
  @include Overlay;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  .dialog {
    @include DialogContainer;
    padding: 57px 73px;
    background-color: #fff;
    min-width: auto;

    img {
      width: 54px;
      height: 54px;
      margin-bottom: 15px;
    }

    @include SemiBoldText;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
  }
}
