.content {
  width: 648px;
  .detail {
    margin: 0;
    color: var(--secondary-text-color);
  }
  .groupWrap {
    margin-top: 16px;
    overflow-y: scroll;
    border: 1px solid var(--divide-line-color);
    border-radius: 8px;
    padding: 16px 0 0 16px;
    .radioItem {
      padding: 0 0 16px;
      &:hover,
      &:focus {
        background: transparent;
        button {
          visibility: visible;
        }
      }
    }
  }
}
