.arrowDown {
  g[mask] {
    fill: #666;
  }
}

.customizableRoot {
  position: relative;

  .dropdownItems {
    display: none;
    position: absolute;
    z-index: 100;
    margin: 0;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12);
    right: 0;

    & > button {
      border-radius: 0;
      background-color: #fff;

      &:hover {
        background-color: #ddd;
        font-weight: 500;
      }
    }
  }

  &:hover {
    .dropdownItems {
      display: block;
    }
  }
}