@import '../../styles/mixin.scss';

.clearTime {
  color: var(--input-second-color);
  font-size: 12px;
}

.clearBtn {
  &[disabled] {
    opacity: 0.5;
    box-shadow: none !important;
    cursor: not-allowed;
  }

  .spinner {
    width: 16px;
    height: 16px;
    vertical-align: sub;
    margin-left: 4px;
    & > path {
      fill: var(--secondary-text-color);
    }
  }
}

.options {
  min-width: 600px;
  label {
    padding: 0;
    cursor: pointer;
    display: block;
    margin-bottom: 24px;
    color: var(--main-text-color);

    .highlight {
      color: var(--primary-color);
      display: inline-block;
    }
  }
  @include checkbox;
}
