@import '../../styles//mixin.scss';

.clearCache {
  font-weight: bold;
  display: flex;

  .tooltip {
    position: relative;
    display: inline-flex;
    align-items: center;
    padding-left: 4px;

    &::after {
      display: none;
      position: absolute;
      left: -20px;
      top: 120%;
      content: attr(data-tooltip);
      padding: 4px 12px;
      border-radius: 6px;
      background: #cccccc99;
      font-weight: 300;
      width: 600px;
    }

    &:hover::after {
      display: block;
    }
  }
}

.clearedDate {
  font-size: 12px;
}

.dialog {
  @include dialog-container;
  padding: 30px 50px 30px 85px;

  &::backdrop {
    @include overlay;
  }
  .warningIcon {
    position: absolute;
    top: 30px;
    left: 30px;
    height: 40px;
  }
  .title {
    @include dialog-title;
    margin-bottom: 5px;
  }

  .options {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 8px 5px;
    margin: 15px 0;
    font-size: 14px;
    input {
      margin: auto;
      filter: hue-rotate(291deg) brightness(1.21);
    }
    label {
      line-height: 1em;
      font-weight: 200;
    }
  }

  .footer {
    @include dialog-footer;
    button {
      margin-left: 10px;
      min-width: auto;
      width: 100px;
    }
  }
}
