@import '../../styles//mixin.scss';

$hover-bg-color: #3cc68a4d;
$left-padding: 15px;

.sidebar {
  display: grid;
  grid-template:
    'name'75px 'navs'1fr 'network'22px 'sync'auto / var(--sidebar-width);
  height: 100vh;
  background: black;
}

.name {
  grid-area: name;
  font-size: 0.75rem;
  padding: 20px 11px 25px 19px;
  color: var(--nervos-green);
  line-height: 1.33;
  letter-spacing: 0.53px;
  margin: 0;
}

.navs {
  display: flex;
  flex-direction: column;
  grid-area: navs;

  button {
    @include MediumText;
    appearance: none;
    border: none;
    color: white;
    background: transparent;
    font-size: 1rem;
    line-height: 2;
    font-weight: bold;
    text-align: left;
    padding-left: $left-padding;

    &:hover {
      @include SemiBoldText;
      background-color: $hover-bg-color;
    }

    &[data-active=true] {
      @include MediumText;
      background-color: var(--nervos-green);
    }
  }
}

.network {
  display: flex;
  align-items: center;
  grid-area: network;
  color: #fff;
  padding-left: $left-padding;
  font-size: 0.8rem;
  font-weight: bold;

  span {
    display: flex;
    align-items: center;
    line-height: 1em;

    &::after {
      display: block;
      content: '';
      width: 0.5rem;
      height: 0.5rem;
      border-radius: 100%;
      background: red;
      margin-left: 0.5rem;
    }

    &[data-online=true]::after {
      background: green !important;
    }
  }
}

.sync {
  position: relative;
  display: flex;
  flex-direction: column;
  grid-area: sync;
  color: #fff;
  font-size: 0.8rem;

  span {
    padding-left: $left-padding;
    padding-bottom: 12px;
    color: #b3b3b3;
  }

  progress {
    position: absolute;
    left: 0;
    bottom: 0;
    appearance: none;
    width: 100%;
    height: 5px;

    &::-webkit-progress-bar {
      background: transparent
    }

    &::-webkit-progress-value {
      background: var(--nervos-green);
    }
  }
}
