$hover-bg-color: #3cc68a4d;

@mixin navItem {
  display: flex;
  align-items: center;
  & svg,
  & img {
    width: 20px;
    &:first-child {
      margin-right: var(--svg-right-margin);
    }
  }

  & > span {
    flex-grow: 1;
  }
}

.sidebar {
  display: grid;
  grid-template:
    'name' 75px
    'navs' 1fr /
    1fr;
  height: 100vh;
  background: #212524;
  position: relative;
  --left-padding: 16px;
  --svg-right-margin: 18px;
  &[data-expanded='false'] {
    --left-padding: 14px;
    --svg-right-margin: 14px;
  }

  * {
    font-size: 14px;
  }

  & .showExpand {
    content: '';
    height: 100%;
    width: 8px;
    position: absolute;
    right: -4px;
    z-index: 200;

    .expand {
      position: absolute;
      right: -14px;
      top: 50%;
      display: none;
      cursor: pointer;

      &[data-expanded='false'] {
        transform: rotate(-180deg);
      }
    }

    &:hover {
      .expand {
        display: initial;
      }
    }
  }
}

.name {
  @include navItem;
  grid-area: name;
  padding: 20px 0 20px var(--left-padding);
  color: var(--primary-color);
  letter-spacing: 0.53px;
  margin: 0 8px;
  appearance: none;
  border: none;
  background: transparent;
  font-weight: 700;
  cursor: pointer;

  span {
    color: var(--primary-color);
  }

  .nameText {
    width: 0;
    flex: 1;
    text-align: left;
    max-width: 90px;
  }
}

@mixin activity {
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;

  & > svg {
    g {
      opacity: 1;
    }
    path[opacity] {
      opacity: 1;
    }
    path[stroke] {
      stroke: #fff;
    }
  }
}
.navs {
  display: flex;
  flex-direction: column;
  grid-area: navs;

  a {
    @include navItem;
    appearance: none;
    border: none;
    color: rgba(255, 255, 255, 0.5);
    background: transparent;
    line-height: 2.5rem;
    text-align: left;
    padding: 1px 0 1px var(--left-padding);
    height: 48px;
    margin: 1px 8px;
    border-radius: 4px;
    cursor: pointer;

    &.buttonInTip {
      color: var(--main-text-color);
    }

    &:hover {
      @include activity;
      &.buttonInTip {
        color: var(--primary-color);
      }
    }

    &.active {
      @include activity;
      &.buttonInTip {
        color: var(--primary-color);
      }
      & .arrow {
        transform: rotate(90deg);
      }
    }

    & .arrow {
      margin: 0 24px;
    }
  }

  .child {
    display: flex;
    padding: 1px 0 1px var(--left-padding);
    margin: 1px 8px;
    .leftLine {
      width: 20px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      &::after {
        content: '';
        width: 1px;
        height: 60%;
        background-color: #464545;
      }
    }

    a {
      &:hover {
        background-color: transparent;
        color: #fff;
      }

      &.active {
        background-color: transparent;
        color: #fff;
      }
    }
  }

  .buttonInTip {
    height: 40px;
    padding: unset;
    margin: unset;
  }
}
