$progress-green: #64dd17;
$progress-yellow: #ffd600;
$progress-grey: #b0bec5;
$progress-indicator-color: #304ffe;
$progress-height: 30px;

.epochsProgress {
  display: block;
  appearance: none;
  width: 100%;
  height: $progress-height;
  position: relative;
  height: 20px;

  &::-webkit-progress-bar {
    height: 20px;
    border-radius: 2px;
    background: linear-gradient(90deg, $progress-green 0%, $progress-green 76.7%, $progress-yellow 76.7%, $progress-yellow 96.7%, $progress-grey 96.7%, $progress-grey 100%);
  }

  &::-webkit-progress-value {
    position: relative;
    background-color: transparent;
    backdrop-filter: blur(5px);
    border-right: 2px solid $progress-indicator-color;
    box-sizing: border-box;
    height: $progress-height;
    top: -5px;
  }

}

.indicator {
  position: relative;
  display: block;
  top: -5px;
  left: -5px;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-bottom: 5px solid $progress-indicator-color;

  &:first-of-type {
    top: 5px;
    border: 5px solid transparent;
    border-top: 5px solid $progress-indicator-color;
  }
}

.terms {
  list-style-type: disc;
  margin-left: 15px;
  font-size: 14px;

  li {
    padding-bottom: 5px;
  }
}
