@import '../../styles/mixin.scss';

.pageHead {
  display: flex;
  align-items: center;
  gap: 8px;

  & > svg {
    cursor: pointer;

    path {
      fill: currentColor;
    }
  }
}

.header {
  display: flex;
  gap: 16px;
}

.daoOverview {
  position: relative;
  z-index: 0;
  display: grid;
  flex: 1 1 542px;
  grid-template:
    'free free' auto
    'locked apc' auto/
    1fr 1fr;
  gap: 32px;
  border-radius: 16px;
  padding: 20px 16px;
  background: var(--primary-color);
  color: var(--primary-text-color);

  &::after {
    $left: 47px;
    $top: 12px;

    content: ' ';
    display: block;
    position: absolute;
    z-index: -1;
    left: $left;
    top: $top;
    width: calc(100% - $left * 2);
    height: calc(100% - $top);
    background: var(--primary-color);
    filter: blur(20px);
    opacity: 0.5;
  }

  .field {
    .name {
      display: flex;
      align-items: center;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;

      .tooltip {
        position: relative;
        display: flex;
        align-items: center;
        margin-left: 5px;

        & > svg {
          path {
            fill: currentColor;
          }
        }

        &::after {
          display: none;
          position: absolute;
          left: -20px;
          bottom: 120%;
          content: attr(data-tooltip);
          padding: 4px 12px;
          border-radius: 6px;
          background: #cccccc99;
          font-weight: 300;
        }

        &:hover::after {
          display: block;
        }
      }
    }

    .value {
      margin-top: 16px;
      font-weight: 500;
      font-size: 16px;
      line-height: 22px;

      .number {
        font-family: 'D-DIN-PRO';
        font-size: 20px;
        line-height: 20px;
        letter-spacing: 0.5px;
      }
    }
  }

  .free {
    grid-area: free;

    .value {
      font-size: 16px;
      line-height: 22px;

      .number {
        font-size: 32px;
        line-height: 32px;
      }
    }
  }

  .locked {
    grid-area: locked;
  }

  .apc {
    grid-area: apc;
  }
}

.deposit {
  position: relative;
  display: flex;
  flex: 1 1 410px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  background: var(--secondary-background-color);
  color: var(--primary-color);

  .rules {
    position: absolute;
    top: 12px;
    right: 16px;
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--secondary-text-color);
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;

    & > svg {
      path {
        stroke: currentColor;
      }
    }

    &:hover {
      color: var(--primary-color);
    }
  }

  .action {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    border: none;
    background: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
  }
}

.recordsContainer {
  margin-top: 20px;

  .recordTab {
    // To achieve animation on switching the selected target with pure CSS, a layout with fixed width is required.
    $itemWidth: 96px;
    $itemOverlapping: 8px;
    $padding: 4px;

    --selected-tab: 0;

    position: relative;
    width: max-content;
    margin: 0;
    padding: $padding;
    background: var(--fourth-background-color);
    border-radius: 40px;

    button {
      @include bold-text;
      position: relative;
      appearance: none;
      width: $itemWidth;
      height: 40px;
      font-weight: 500;
      font-size: 14px;
      background-color: transparent;
      color: var(--primary-color);
      padding: 0;
      border: none;
      margin-left: -$itemOverlapping;
      cursor: pointer;

      &:first-of-type {
        margin-left: 0;
      }

      &.active {
        cursor: default;
      }
    }

    .underline {
      display: block;
      position: absolute;
      top: $padding;
      left: $padding;
      height: 40px;
      width: $itemWidth;
      background: var(--third-background-color);
      border-radius: 40px;
      transition: transform 0.1s ease-in-out;
      transform: translateX(
        calc(var(--selected-tab) * ($itemWidth - $itemOverlapping))
      );
    }
  }

  .records {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 12px;
  }

  .noRecords {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 12px;
    padding: 22px 0 44px 0;
    background: var(--secondary-background-color);
    border-radius: 16px;
    font-size: 14px;
  }
}
