@import '../../styles/mixin.scss';
$infoHeight: 1.75rem;

.nervosDAOContainer {
  display: grid;
  grid-template:
    'title title title' auto
    'free network-alert deposit' auto
    'locked . deposit' auto
    'apc . .' auto
    'records records records' auto/
    minmax(350px, 500px) 35px 1fr;
}

.title {
  @include page-title;
  grid-area: title;
  margin-bottom: 10px;
}

.free {
  grid-area: free;
}

.locked {
  grid-area: locked;
}

.apc {
  grid-area: apc;
}

.networkAlert {
  grid-area: network-alert;
  align-self: center;
  justify-self: center;
}

.free,
.locked,
.apc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $infoHeight;
  font-size: 0.875rem;

  & > span {
    font-weight: 600;
    padding-right: 15px;
    white-space: nowrap;

    &:after {
      content: ':';
    }
  }

  & > div {
    width: 70%;
    white-space: nowrap;
    text-align: right;
  }
  .balance {
    @include text-overflow-ellipsis;
    padding: 0;
  }
}

.deposit {
  grid-area: deposit;
  justify-self: flex-end;
  padding-left: 30px;

  button {
    width: 9.6875rem;
    height: 1.875rem;
    color: #fff;
    font-size: 0.75rem;
    background-color: var(--nervos-green);
    border: none;

    &[disabled] {
      @include disabled-button;
    }
  }
}

.records {
  grid-area: records;
  margin-top: 12px;

  .recordTab {
    position: relative;
    display: flex;
    box-sizing: border-box;
    margin: 0 0 10px 0;
    padding: 0;
    line-height: 1.6875rem;
    font-size: 1.375rem;
    color: #000;
    border-bottom: 1px solid #ccc;

    button {
      @include bold-text;
      appearance: none;
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 1.875rem;
      font-size: 1rem;
      background-color: transparent;
      padding: 0 0 6px 0;
      margin: 0;
      border: none;

      &:hover {
        color: var(--nervos-green);
        opacity: 0.8;
      }
    }

    .underline {
      display: block;
      position: absolute;
      bottom: -1px;
      left: 0;
      height: 4px;
      width: 50%;
      background: var(--nervos-green);
      box-sizing: border-box;
      padding: 0;
      transition: transform 0.1s ease-in-out;
    }

    &[data-idx='1'] {
      .underline {
        transform: translateX(100%);
      }
    }
  }

  & > div {
    margin: 10px auto;
  }

  .noRecords {
    font-size: 0.875rem;
    font-weight: 600;
  }
}
