@import '../../styles/mixin.scss';

.wallets {
  height: 100%;
  width: 1200px;
  overflow: auto;
  padding: 0 0 5px 8px;
}

.addWrap {
  position: relative;
  display: inline-block;
  margin: 16px 0 0 14px;
}

.addBtn {
  @include icon-hover-button();
}

.actions {
  padding-top: 5px;

  button {
    background: none;
    font-size: 14px;
    min-width: 164px;
    padding: 0 8px;
    height: 40px;
    color: var(--main-text-color);
    border: none;
    text-align: left;
    display: flex;
    align-items: center;
    cursor: pointer;
    svg {
      width: 16px;
      height: 16px;
      margin-right: 8px;
      g,
      path {
        fill: var(--main-text-color);
      }
    }
    &[data-stroke='true'] {
      svg {
        g,
        path {
          fill: none;
          stroke: var(--main-text-color);
        }
      }
    }
    &:hover {
      border-radius: 8px;
      background-color: var(--tooltip-hover-background-color);
    }
  }
}

.radioItem {
  margin-right: 16px;
  &:hover,
  &:focus {
    button {
      visibility: visible;
    }
  }
}
.suffix {
  display: flex;
  align-items: center;
  button {
    @include icon-hover-button;
    visibility: hidden;
  }
}

.hasBottomBorder {
  border-bottom: 0.5px solid #ccc;
}
