@import '../../styles/mixin.scss';

.container {
  width: 648px;

  .label {
    font-size: 14px;
    line-height: 20px;
    color: var(--secondary-text-color);
    margin: 0;
  }

  .tokenId {
    margin-top: 6px;
    display: flex;
    justify-content: space-between;
    p {
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: var(--main-text-color);
    }
    button {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
      background: var(--input-disabled-color);
      border: 1px solid var(--divide-line-color);
      border-radius: 8px;
      cursor: pointer;
      svg {
        width: 16px;
      }
      &:hover {
        background: rgba(255, 30, 30, 0.1);
        border: 1px solid rgba(255, 30, 30, 0.1);
        svg {
          g,
          path {
            fill: var(--error-color);
          }
        }
      }
    }
  }

  .fieldContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .fieldItem {
    margin-top: 12px;
    width: 312px;
    flex-shrink: 0;
  }
}

.explorerNavButton {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  height: 24px;
  font-size: 12px;
  color: var(--primary-color) !important;
  background: transparent;
  border: none;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
  svg {
    width: 16px;
    g,
    path {
      fill: var(--primary-color);
    }
  }
}
