.container {
  position: relative;
  display: inline-block;
  padding: 0 5px;
  cursor: pointer;

  .hoverShow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    color: var(--primary-color);
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(1px);
    user-select: none;
    white-space: nowrap;
    border-radius: 16px;
    z-index: 10;
  }

  &:hover {
    .hoverShow {
      display: flex;
      container-type: inline-size;
      container-name: tips;

      .copytext {
        margin-left: 4px;
        @container tips  ( max-width : 72px ) {
          display: none;
        }
      }

      .copyIcon {
        visibility: visible;
      }
    }
  }
}
