@import '../../styles/theme.scss';

.container {
  position: relative;
  display: inline-block;

  .hoverShow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    color: $main-color;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(1px);
    user-select: none;
    white-space: nowrap;
    border-radius: 16px;
    z-index: 10;

    & > svg {
      margin-right: 4px;
    }
  }

  &:hover {
    .hoverShow {
      display: flex;
      .copyIcon {
        visibility: visible;
      }
    }
  }
}
