@import '../../styles/mixin.scss';

.dialogContainer {
  max-width: 700px;
  color: var(--main-text-color);
  font-size: 14px;
  line-height: 24px;

  .attention {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    width: 80%;
    margin: 32px auto 0;
    background: var(--warn-background-color);
    border: 1px solid rgba(252, 136, 0, 0.2);
    border-radius: 4px;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    color: var(--warn-text-color);

    @media (prefers-color-scheme: dark) {
      border: none;
    }

    svg {
      margin-right: 4px;
      width: 14px;
    }
  }
}

.footer {
  padding: 24px 0;
  @include dialog-footer;
  --footer-background-color: #ecf9f0;
  @media (prefers-color-scheme: dark) {
    --footer-background-color: #2d3534;
  }

  .footerBtn {
    padding: 0 20px;
    background: var(--footer-background-color);
    color: var(--primary-color);
    &:not([disabled]) {
      &:hover,
      &:focus {
        background-color: var(--footer-background-color);
        color: color-mix(in srgb, #000000 20%, var(--primary-color));
      }

      &:active {
        background-color: var(--footer-background-color);
        color: color-mix(in srgb, #000000 20%, var(--primary-color));
      }
    }
    &:last-of-type {
      margin-left: 24px;
    }
    svg {
      g,
      path {
        fill: var(--primary-color);
      }
    }
  }
}
