@import '../../styles/mixin.scss';

.dialogContainer {
  width: 680px;
  color: var(--main-text-color);
  font-size: 14px;
  line-height: 24px;
  display: flex;
  flex-direction: column;

  .title {
    text-align: center;
    color: var(--main-text-color);
    margin: 0;
  }

  .noticeWrap {
    margin: 16px auto 0;
    border-radius: 8px;
    background: var(--fourth-background-color);
    padding: 12px 16px 12px 30px;
    position: relative;

    &::before {
      content: '';
      height: 66px;
      width: 2px;
      background: var(--primary-color);
      position: absolute;
      left: 16px;
      top: 24px;
    }

    div {
      display: flex;
      gap: 8px;
      padding: 3px 0;
      position: relative;
      &::before {
        content: '';
        height: 10px;
        width: 10px;
        border-radius: 100%;
        background: var(--primary-color);
        position: absolute;
        left: -18px;
        top: 10px;
      }
      p {
        margin: 0;
        line-height: 24px;
      }

      button {
        height: auto;
        padding: 0;
        min-width: 0;
        font-size: 14px;
      }
    }
  }
}
