@import '../../styles/mixin.scss';

.dialog {
  @include dialog-container;
  padding: 30px 50px;
  min-height: 245px;
  width: 600px;

  .container {
    display: flex;
    flex-direction: column;

    .main {
      flex: 1;
      margin: 25px 0;
      tr {
        td {
          font-size: 14px;
          svg {
            width: 14px;
            height: 14px;
            margin-right: 4px;
            position: relative;
            top: 2px;
          }
        }
        .first {
          padding-right: 30px;
          color: #434343;
        }
      }
    }
  }

  &::backdrop {
    @include overlay;
  }

  .footer {
    @include dialog-footer;
    flex-shrink: 0;

    button {
      margin-left: 10px;
    }
  }
}

.content {
  color: #434343;
  font-size: 14px;
  margin-bottom: 7px;
}

.title {
  font-size: 1.125rem;
  line-height: 1.375rem;
  font-weight: bold;
  letter-spacing: 0.9px;
  margin: 0;
}

.textarea {
  width: 100%;
  height: 140px;
  resize: none;
}
