.main {
  tr {
    td {
      font-size: 14px;
      line-height: 26px;
      color: var(--main-text-color);
      svg {
        width: 14px;
        height: 14px;
        margin-right: 4px;
        position: relative;
        top: 2px;
      }
    }
    .first {
      padding-right: 24px;
      color: var(--input-second-color);
    }
  }
}

.textarea {
  color: var(--main-text-color);
  margin-top: 17px;
  width: 648px;
  height: 206px;
  resize: none;
  background: var(--secondary-background-color);
  border: 1px solid var(--divide-line-color);
  border-radius: 8px;
  padding: 16px;
}
