@import "../../styles/mixin.scss";

.dialog {
  @include dialogContainer;
  padding: 30px 50px;

  &::backdrop {
    @include overlay;
  }
}

.title {
  font-weight: 900;
  font-size: 1.125rem;
}

.fee {
  display: flex;
  justify-content: space-between;
  font-size: 0.875rem;
  line-height: 1.4;
  margin-bottom: 25px;

  &>span:first-of-type {
    font-weight: 900;

    &:after {
      display: inline;
      content: ':';
      font-weight: 600;
    }
  }
}


.errorMessage {
  display: flex;
  align-items: center;
  height: 1rem;
  color: red;
  font-size: 0.625rem;
}

.notice {
  position: relative;
  padding-left: 1rem;
  font-size: 0.75rem;
  letter-spacing: 0.5px;
  margin: 14px 0 20px 0;
  color: #666;

  svg {
    position: absolute;
    left: 0;
    top: 0.13rem;
    filter: grayscale(1) opacity(0.6);
    width: 0.625rem;
    height: 0.625rem;
  }
}

.rfcLink {
  font-size: 0.625rem;
  letter-spacing: 0.45px;
  color: var(--nervos-green);
  border: none;
  padding: 0;
  margin: 0;
}

.footer {
  @include dialogFooter;

  button:last-of-type {
    margin-left: 9px;
  }
}
