@keyframes notification {
  0% {
    top: -50px;
    left: 0;
  }
  100% {
    top: 12px;
    left: 0px;
  }
}

.container {
  position: fixed;
  top: 12px;
  left: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  justify-content: center;
  animation-name: notification;
  animation-duration: 0.4s;
  .content {
    z-index: 1000;
    padding: 14px 32px;
    color: var(--primary-color);
    background: var(--notice-background-color);
    border-radius: 12px;
    display: flex;
    align-items: center;
    svg {
      margin-right: 4px;
    }
  }
}
