@import '../../styles/mixin.scss';

.container {
  width: 680px;
}

.addressContainer {
  margin-bottom: 20px;

  & > div:first-child {
    font-size: 0.875rem;
    line-height: 1.125rem;
    color: var(--secondary-text-color);
    margin-bottom: 10px;
    display: block;
  }
}

.error {
  margin-top: 10px;
  color: red;
  font-size: 14px;
  width: 100%;
  word-break: break-all;
}
