.dropdown {
  position: absolute;
  display: inline-block;

  .content {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 2px;
    z-index: 1;
    left: -82px;

    button {
      color: black;
      padding: 7px 0;
      text-decoration: none;
      display: block;
      font-size: 12px;
      border: none;
      width: 100px;
      background-color: #fff;
      font-family: 'SourceCodePro-Regular', 'SourceHanSansCN-Regular', monospace;

      &:hover {
        background-color: #d1d1d1;
        font-weight: bold;
      }
    }
  }

  &:hover {
    .content {
      display: block;
    }
  }
}

.trigger {
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 500;
  padding: 7px 7px;
  height: 30px;
  width: 20px;
  border: none;
  background-color: #bfbfbf;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;

  .arrow {
    border-color: #fff transparent transparent;
    border-style: solid;
    border-width: 4px 4px 0;
    content: ' ';
    display: block;
    height: 0;
    margin-top: -ceil(2.5);
    position: absolute;
    right: 6px;
    top: 14px;
    width: 0
  }
}

.container > button:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
