.setBlockContent {
  padding: 0 0 20px 0;
  overflow-y: auto;

  .content {
    padding: 0 16px 0 16px;
  }
  .startBlockTip {
    font-weight: 400;
    color: var(--secondary-text-color);
  }

  .setBlockWarn {
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--warn-background-color);
    color: var(--warn-text-color);
    font-size: 12px;
    font-weight: 500;

    & > svg {
      margin-right: 4px;
    }
  }

  .viewAction {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: var(--primary-color);
    display: flex;
    align-items: center;

    & > svg {
      width: 12px;
      height: 12px;
    }
  }
}
