@import '../../styles/mixin.scss';

.container {
  .pagination {
    padding: 24px 0;
  }
}

.noItems {
  @include medium-text;
  padding: 20px 13px;
}

.migrateSelectDialog {
  @include dialog-container;
  padding: 0;
}

.dialog {
  @include dialog-container;
  padding: 24px 48px;
  width: 520px;
}

.actionBtnBox {
  margin-right: 16px;
  display: flex;
  justify-content: flex-end;
  gap: 16px;

  .actionBtn {
    width: 104px;
    height: 40px;
    min-width: unset;
    border-radius: 12px;
    font-weight: 500;
    font-size: 14px;
  }
}
