@import '../../styles/mixin.scss';

.container {
  .pagination {
    padding: 24px 0;
  }
}

.noRecords {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 150px;
  font-size: 14px;
}

.migrateSelectDialog {
  @include dialog-container;
  padding: 0;
}

.dialog {
  @include dialog-container;
  padding: 24px 48px;
  width: 520px;
}

.actionBtnBox {
  margin-right: 16px;
  display: flex;
  justify-content: flex-end;
  gap: 16px;

  .tip {
    margin-top: -14px;
  }

  .tooltip {
    width: 260px;
    word-break: normal;
    white-space: normal;
    text-align: start;
  }

  .actionBtn {
    height: 40px;
    min-width: 104px;
    border-radius: 12px;
    font-weight: 500;
    font-size: 14px;
  }

  .detailBtn {
    &:hover {
      color: var(--primary-color);
      border-color: var(--primary-color);
    }
  }
}
