@import '../../styles/mixin.scss';

.root {
  display: flex;
  .leftContainer {
    .label {
      margin-right: 20px;
      font-size: 14px;
      line-height: 20px;
      display: flex;
      height: 40px;
      margin-bottom: 24px;
      align-items: center;
      svg {
        margin: 4px 0 0 4px;
        cursor: pointer;

        g,
        path {
          fill: var(--main-text-color);
        }

        &:hover {
          g,
          path {
            fill: var(--primary-color);
          }
        }
      }
    }
  }

  .rightContainer {
    .item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 488px;
      height: 40px;
      margin-bottom: 24px;
      button {
        border: none;
        background: transparent;
        cursor: pointer;
      }

      .itemBtn {
        color: var(--secondary-text-color);
        padding: 0 16px;
        flex-shrink: 0;
        border-radius: 8px;
        height: 100%;
        background: var(--input-disabled-color);
        border: 1px solid var(--divide-line-color);
        &:hover {
          color: var(--primary-color);
        }
      }
    }

    .pathItem {
      background: var(--secondary-background-color);
      border: 1px solid var(--divide-line-color);
      border-radius: 8px;
      .itemPath {
        padding: 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        padding: 0 16px;
        color: var(--input-hint-color);
        &:hover {
          color: var(--primary-color);
        }
      }
      .itemBtn {
        border-radius: 0 8px 8px 0;
        border: none;
        border-left: 1px solid var(--divide-line-color);
      }
    }
  }
}

.container {
  & > div {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
  }

  .label {
    margin-right: 10px;
    font-size: 14px;
    line-height: 20px;
    width: 220px;
    display: flex;
    svg {
      margin: 2px 0 0 4px;
      g,
      path {
        fill: var(--main-text-color);
      }

      &:hover {
        g,
        path {
          fill: var(--primary-color);
        }
      }
    }
  }

  .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 488px;
    height: 40px;
    button {
      border: none;
      background: transparent;
      cursor: pointer;
    }
  }

  .pathItem {
    background: var(--secondary-background-color);
    border: 1px solid var(--divide-line-color);
    border-radius: 8px;
    .itemPath {
      padding: 0;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      padding: 0 16px;
      color: var(--input-hint-color);
    }
    .itemBtn {
      color: var(--secondary-text-color);
      padding: 0 16px;
      flex-shrink: 0;
      border-radius: 0 8px 8px 0;
      height: 100%;
      background: var(--input-disabled-color);
      border-left: 1px solid var(--divide-line-color);
    }
  }
}

.tooltip {
  width: 250px;
  word-break: normal;
  white-space: normal;
}

.dialogContainer {
  max-width: 700px;
  color: var(--main-text-color);
  font-size: 14px;
  line-height: 24px;

  .attention {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    width: 80%;
    margin: 32px auto 0;
    background: var(--warn-background-color);
    border: 1px solid rgba(252, 136, 0, 0.2);
    border-radius: 4px;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    color: var(--warn-text-color);

    svg {
      margin-right: 4px;
      width: 14px;
    }
  }
}

.footer {
  padding: 24px 0;
  @include dialog-footer;

  .footerBtn {
    padding: 0 20px;
    background: #ecf9f0;
    color: var(--primary-color);
    @media (prefers-color-scheme: dark) {
      background: #2e3735;
    }
    &:last-of-type {
      margin-left: 24px;
    }
  }
}
