@import '../../styles/mixin.scss';

.root {
  margin-top: 20px;
  display: grid;
  grid-template-columns: auto 1fr 140px;
  grid-gap: 30px 20px;
  align-items: center;

  .name {
    font-weight: bold;
    display: flex;
  }

  .content {
    font-size: 12px;
    word-break: break-all;
  }

  button {
    line-height: 1;
    height: 1.625rem;
  }
}

.dialog {
  @include dialog-container;
  padding: 30px 50px;

  .describe {
    word-break: break-all;
    font-size: 14px;
  }

  .attention {
    position: relative;
    padding-left: 1rem;
    font-size: 0.75rem;
    letter-spacing: 0.5px;
    margin: 14px 0 20px 0;
    color: #666;
  
    svg {
      position: absolute;
      left: 0;
      top: 0.13rem;
      filter: grayscale(1) opacity(0.6);
      width: 0.625rem;
      height: 0.625rem;
    }
  }

  .action {
    padding-top: 16px;
    display: flex;
    justify-content: space-between;
  }
}

.path {
  display: flex;
  align-items: center;

  & > svg {
    flex-shrink: 0;
  }
}

.infoIconContainer {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding-left: 4px;
  z-index: 11;

  &::after {
    display: none;
    position: absolute;
    left: -20px;
    top: 120%;
    content: attr(data-tip);
    padding: 4px 12px;
    border-radius: 6px;
    background: #cccccc;
    font-weight: 300;
    width: 400px;
  }

  &:hover::after {
    display: block;
  }
}
