@import '../../styles/mixin.scss';

.root {
  margin-top: 20px;
  display: grid;
  grid-template-columns: auto 1fr 140px;
  grid-gap: 30px 20px;
  align-items: center;

  .name {
    font-weight: bold;
    display: flex;
  }

  .content {
    font-size: 12px;
    word-break: break-all;
  }

  button {
    line-height: 1;
    height: 1.625rem;
  }
}

.dialog {
  @include dialog-container;
  padding: 30px 50px;

  .describe {
    word-break: break-all;
    font-size: 14px;
  }

  .attention {
    position: relative;
    padding-left: 1rem;
    font-size: 0.75rem;
    letter-spacing: 0.5px;
    margin: 14px 0 20px 0;
    color: #666;
  
    svg {
      position: absolute;
      left: 0;
      top: 0.13rem;
      filter: grayscale(1) opacity(0.6);
      width: 0.625rem;
      height: 0.625rem;
    }
  }

  .action {
    padding-top: 16px;
    display: flex;
    justify-content: space-between;
  }
}

.path {
  display: flex;
  align-items: center;

  & > svg {
    flex-shrink: 0;
  }
}

.infoIconContainer {
  display: inline-flex;
  align-items: center;
  position: relative;
  margin-left: 4px;
  &:after {
    display: none;
    content: attr(data-tip);
    position: absolute;
    top: calc(100% + 7px);
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    font-size: 0.75rem;
    color: #000000;
    padding: 10px 15px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.22);
    min-width: 300px;
    pointer-events: none;
    z-index: 1;
  }

  &::before {
    z-index: 2;
    display: none;
    content: '';
    top: 4px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    border: 10px solid transparent;
    border-bottom-color: #fff;
    filter: drop-shadow(0 -2px 1px rgba(0, 0, 0, 0.12));
    pointer-events: none;
  }
  &:hover {
    &::after,
    &::before {
      display: block;
    }
  }
}