.dialogContainer {
  padding: 0;
}

.container {
  width: 730px;

  .header {
    display: flex;
    line-height: 48px;
    padding: 0 16px;
    font-size: 14px;
    justify-content: space-between;
    align-items: center;
    background: var(--table-head-background-color);
    color: var(--secondary-text-color);
    border-bottom: 1px solid var(--table-head-border-color);

    .tip {
      left: calc(100% - 240px) !important;
    }

    .copyTableAddress {
      word-break: break-all;
      text-align: center;
      font-family: 'JetBrains Mono';
      width: 300px;
      white-space: normal;
      line-height: 24px;

      & > svg {
        margin-left: 4px;
        vertical-align: middle;
      }
    }

    .address {
      height: 56px;
      text-decoration: underline;

      &:hover {
        color: var(--activity-color);
      }
    }
  }

  .balance {
    font-weight: 500;
    color: var(--main-text-color);
  }
}

.sendContainer {
  padding: 16px 16px 0;
}

.sendFieldContainer {
  margin-bottom: 16px;
}

.balanceValue {
  font-weight: 500;
  max-width: 60%;
  padding: 0 5px 0 60px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  &:after {
    content: ' CKB';
  }
}

.addWrap {
  display: flex;
  justify-content: flex-end;
}

.addButton {
  justify-content: flex-end;
  height: auto;
  svg {
    margin-right: 6px;
    g,
    path {
      fill: var(--primary-color);
    }
  }
}

.flexWrap {
  padding: 0;
  display: flex;
  align-items: baseline;
  column-gap: 16px;
  & > div {
    &:first-child {
      flex: 1;
    }
  }
  &:last-child {
    margin-top: 16px;
  }
}

.sendItem {
  & > div {
    width: 228px;
    input {
      width: 125px !important;
      height: 56px !important;
    }
  }
}
