
.sendCKBTitle {
  display: flex;
  line-height: 1.625rem;
  flex-wrap: wrap;

  .fullPayload {
    min-width: 100px;
    display: flex;
    height: 1.625rem;
    flex: 1;
  
    .overflow {
      word-break: break-all;
      text-align: right;
      line-height: 1.625rem;
      overflow: hidden;
    }
  
    & > span {
      line-height: 1.625rem;
    }
  }
}

.sendContainer {
  margin: 16px 0;
  background-color: #eee;
  padding: 8px;
}

.balance {
  grid-area: balance;
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  font-weight: 600;
}

.sendFieldContainer {
  & > div {
    grid-template:
      'address scanner add-or-remove' auto
      'amount max add-or-remove' auto
      'locktime locktime locktime' auto /
      calc(100% - 130px) 50px 30px;
  }
}

.sendActions {
  display: flex;
  justify-content: flex-end;
  margin-top: 12px;

  & > button {
    margin-left: 12px;
  }
}

.balanceValue {
  font-weight: 500;
  max-width: 60%;
  padding: 0 5px 0 60px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  &:after {
    content: ' CKB';
  }
}
