name: Merge released into develop

on:
  release:
    branches: master
    types: [published, prereleased]

jobs:
  merge-to-dev:
    name: Merge into develop
    runs-on: ubuntu-16.04
    steps:
      - uses: actions/checkout@master
      - name: Request
        uses: repo-sync/pull-request@v2
        with:
          source_branch: 'master'
          destination_branch: 'develop'
          pr_title: 'Merge released ${{ github.ref }} into develop'
          pr_reviewer: 'keith-cy,katat,ququzone,kellyshang'
          pr_label: 'auto-pr'
          github_token: ${{ secrets.GITHUB_TOKEN }}
