name: Unit Tests

on:
  push:
  pull_request:

jobs:
  default:
    strategy:
      matrix:
        node:
          - 18.12.0
        os:
          - macos-latest
          - ubuntu-20.04
          - windows-latest

    runs-on: ${{ matrix.os }}

    name: ${{ matrix.os }}(Node.js ${{ matrix.node }})

    steps:
      - name: Set git to use LF
        run: |
          git config --global core.autocrlf false
          git config --global core.eol lf

      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
          cache: "yarn"

      - name: Restore
        uses: actions/cache@v3
        with:
          path: |
            node_modules
            */*/node_modules
          key: 2022-10-11-${{ runner.os }}-${{ hashFiles('**/yarn.lock')}}

      - name: Install libudev
        if: matrix.os == 'ubuntu-20.04'
        run: |
          sudo apt-get update
          sudo apt-get install -y libudev-dev

      - name: Install Lerna
        run: yarn global add lerna

      - name: Boostrap
        run: |
          yarn
          yarn build
        env:
          CI: false

      - name: Unit Tests
        run: yarn test
        env:
          CI: true
