name: Unit Tests

on:
  push:
  pull_request:

jobs:
  default:
    strategy:
      matrix:
        node:
          - 12
        os:
          - macos-latest
          - ubuntu-18.04
          - windows-latest

    runs-on: ${{ matrix.os }}

    name: ${{ matrix.os }}(Node.js ${{ matrix.node }})

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}
          cache: "yarn"

      - name: Restore
        uses: actions/cache@v2
        with:
          path: |
            node_modules
            */*/node_modules
          key: ${{ runner.os }}-${{ hashFiles('**/yarn.lock')}}

      - name: Install Lerna
        run: yarn global add lerna

      - name: Boostrap
        run: |
          yarn bootstrap
          yarn build
        env:
          CI: false

      - name: Unit Tests
        run: yarn test
        env:
          CI: true
