name: Update Neuron compatibility table

on:
  push:
    branches:
      - 'rc/**'
    paths:
      - 'package.json'

jobs:
  update-neuron-compatible:
    name: Update Neuron compatibility table
    runs-on: ubuntu-latest
    environment: neuron-bot
    permissions:
      pull-requests: write # open PR
      contents: write # update version files

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20.15.1

      - name: Update versions
        id: update_versions
        run: |
          npm run update:neuron-compatible
          git add compatible.json

      - name: Set GPG
        uses: crazy-max/ghaction-import-gpg@v6
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.GPG_PASSPHRASE }}
          git_user_signingkey: true
          git_commit_gpgsign: true

      - name: Open PR to RC branch
        uses: peter-evans/create-pull-request@v6
        with:
          title: Update Neuron compatibility table
          commit-message: 'feat: Update Neuron compatibility table'
          body: 'Update Neuron compatibility table for a new release'
          committer: Chen Yu <chenyu@magickbase.com>
          branch: update-neuron-compatible
          base: ${{ github.ref_name }}
